.THIS {
}
.THIS .form-wrapper{
    background-color:t(LnGWhite);    
  	border: solid 1.5px #e3e4ea;
}
.THIS .amr-flow.recItem{
    padding-bottom:0;
}
/*added for qualifying info*/
.THIS .recordDetail .edit-field .slds-form-element__control{
    width:50%;
    margin-bottom:0.8rem;
}
.THIS .recItem label{
    padding-bottom:0; 
}
.THIS .itemLayoutInp .slds-checkbox_standalone input{
   top:-8px;
}
.THIS .checkbox-style .slds-checkbox_standalone input{
    top: 8px;
}
.THIS .recItem .field-item.itemLayout lightning-output-field{
   display:block; 
}
.THIS .inlineFields{
    display:inline-block;
    /*text-align:right;*/
}
.THIS .itemLayoutInp{
    padding: 0;
    width: 100%;
    align-items: baseline;
}

.THIS .recItem .field-item.itemLayout label{
        
    white-space:normal;
    line-height: 1.5;
}

/*added for qualifying info*/
.THIS .slds-truncate.field-item{
    overflow:hidden;
    text-overflow:ellipsis;
}
.THIS .recItem textarea{
    color:t(fieldclr);   
    /* height: 42px; */
    border: solid 1px #5b616b;
    background-color: #ffffff;
}
.THIS .form-wrapper .pol-endo{
    width:100%;
}
/*.THIS .recItem .slds-form-element__static{
   max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}*/
.THIS qfield-margin .slds-form-element_horizontal{
    padding:0;
    margin-bottom:0.8rem;
}
.THIS label,.THIS .edit-field .slds-form-element__label{
  /*width: 137px;
  height: 22px; */
  font-family: token(btnfontfamily);
  font-size: token(btnfontsize);
  font-weight: token(txtfontweight);
  font-style: token(txtfontstyle);
  line-height: normal;
  color: token(fieldclr);
}
.THIS label.required:before {
    content: '*';
    color:t(LnGErrorMsg);
}
.THIS .record-wrapper{
    margin: 25px;
}
.THIS .widthLayout{
    width:100%;
}
.THIS .iconsLayout{
    text-align:right;
}
.THIS .inlineFields .slds-form-element__static{
    color:t(sentenceclr);
}
.THIS .itemLayoutInp .slds-checkbox_standalone .slds-checkbox_faux{
   top:-4px;
}
.THIS .addRecbtn{
    padding:5px;
}
.THIS.edu-wrap{
    display:flex;
    flex-wrap:wrap;
    width:100%;
}
.THIS.recordDetail{
    margin: 1rem 2.5rem; 
    font-style: italic;
    color: grey;        
    width: -webkit-fill-available;
}
.THIS .hideButtonStyle{
    
    padding-top: 25px;
}
.THIS .inlineField{
    display:inline-block;
}
.THIS .inlineField .slds-form-element__static{
   padding-left: 20%; 
}
.THIS i{    
    cursor: pointer;
    font-size:19px;
    padding: 3px;
}
.THIS i:hover {
  -ms-transform: scale(1.5); /* IE 9 */
  -webkit-transform: scale(1.5); /* Safari 3-8 */
  transform: scale(1.5);
  color: black;
}
.THIS .fieldItem{
    width: auto;    
}
.THIS .addRecord{
    width: 100%;
}
.THIS .button-style{
    padding: 4px 20px;
    margin-right: 24px;
}
.THIS .edit-btn{
    padding-top:10px;
}
.THIS.addRecbtn{    
    background: #fff;
    color: #4c65f2;
    border: 1px solid #d4d4d4;
    height: 40px;
    border-radius: 50px;
    margin: 0 25px 25px 25px;
    font-size: 14px;
}
.THIS .submit-btn{
    background: t(LnGPrimaryColor);
    color: t(LnGWhite);
    border: 1px solid #d4d4d4;    
    border-radius: 50px;
    margin: 25px;
    padding: 4px 20px;
    font-size: 14px;
}
.THIS.full-width{
    width: 100%;
    margin-top:30px;
}
.THIS .slds-input{
    border: none;
    border-radius:0;
    background:t(LnGBackgroundGray);
    font-size:14px;
    color:t(LnGFormTitleColor);
    border-bottom: 1px solid #d4d4d4;   
}
.THIS .mandatory-icon{
    color: red;
}
.THIS .label-hidden .slds-form-element__label {
    display: none;
}
.THIS .recItem .slds-form-element__control{
    padding-left:0;
}
.THIS .recItem .slds-input{
  height: 42px;
  border: solid 1px #5b616b;
  background-color: token(white);
}

.THIS .recItem .field-item{
    padding:0;  
}
.THIS .in-field .slds-checkbox__label{
    display:none;
}
.THIS .checkbox-style .slds-checkbox [type=checkbox] {
    width: 1.25rem;
    height: 1.25rem;
    border: 0;
    /*clip: rect(0 0 0 0); */
    opacity:0;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    pointer-events: auto;
}
@media t(mqSmall){
   .THIS .iconsLayout div{
    width:100%
}
    .THIS .recordDetail .edit-field .slds-form-element__control{
        width:100%;
    }
}
.THIS .edit-field .slds-datepicker .slds-form-element__control{
    width: 100%;
}
.THIS .edit-size .slds-datepicker .slds-form-element__control select{
    padding: 0px 20px 0px 10px;
}
.THIS .edit-field a{
    color:t(LnGPlaceholderText);
    pointer-events:none;
}