@font-face{
    font-family:'NotoSerif-Bold';
    src:url('/resource/Noto_Serif/Noto_Serif/NotoSerif-Bold.ttf');
}
@font-face{
    font-family:'NotoSerif-Regular';
    src:url('/resource/Noto_Serif/Noto_Serif/NotoSerif-Regular.ttf');
}
@font-face{
    font-family:'SourceSansPro-Regular';
    src:url('/resource/Source_Sans_Pro/Source_Sans_Pro/SourceSansPro-Regular.ttf');
}
@font-face{
    font-family:'SourceSansPro-SemiBold';
    src:url('/resource/Source_Sans_Pro/Source_Sans_Pro/SourceSansPro-SemiBold.ttf');
}
@font-face{
    font-family:'NotoSansTC-Regular';
    src:url('/resource/Noto_Sans_TC/Noto_Sans_TC/NotoSansTC-Regular.otf');
}
@font-face{
    font-family:'SourceSansPro-Italic';
    src:url('/resource/Source_Sans_Pro/Source_Sans_Pro/SourceSansPro-Italic.ttf');
}
.THIS {
    min-height:100vh;
}
.THIS .themeContainer{
    min-height:calc(100vh - 150px);
}
.THIS .body{
	width: 75%;
	background: #F0F0F0; 
}
.THIS .full-body{
	width: 100%;
}
.THIS .side-bar{
	width: 25%;  
}
@media only screen and (min-width: 768px) and (max-width: 1023px){
    .THIS .body{
		width: 100%;; 
	}
    .THIS .side-bar{
        width: 100%;  
    }
}
@media t(mqSmall){
    .THIS .body{
		width: 100%;; 
	}
    .THIS .side-bar{
        width: 100%;  
    }
}
.THIS.theme-background{
    background-color: token(white);
    color: token(blue);
}