@font-face{
    font-family:'NotoSerif-Bold';
    src:url('/resource/Noto_Serif/Noto_Serif/NotoSerif-Bold.ttf');
}
@font-face{
    font-family:'NotoSerif-Regular';
    src:url('/resource/Noto_Serif/Noto_Serif/NotoSerif-Regular.ttf');
}
@font-face{
    font-family:'SourceSansPro-Regular';
    src:url('/resource/Source_Sans_Pro/Source_Sans_Pro/SourceSansPro-Regular.ttf');
}
@font-face{
    font-family:'SourceSansPro-SemiBold';
    src:url('/resource/Source_Sans_Pro/Source_Sans_Pro/SourceSansPro-SemiBold.ttf');
}
@font-face{
    font-family:'NotoSansTC-Regular';
    src:url('/resource/Noto_Sans_TC/Noto_Sans_TC/NotoSansTC-Regular.otf');
}
@font-face{
    font-family:'SourceSansPro-Italic';
    src:url('/resource/Source_Sans_Pro/Source_Sans_Pro/SourceSansPro-Italic.ttf');
}
@media t(mqSmall){
    .THIS .body{
		width: 100%;; 
	}
    .THIS .side-bar{
        width: 100%;  
    }
    .THIS .slds-grid .field-size {
       display: block;
       width: 100%;
    }
    .THIS .slds-grid .multi-field:nth-child(odd){
       margin-right:0;
    }
    .THIS .slds-grid .address{
       width:100%;
    }
    .THIS .button-section .pull-right{
        margin-left:1%;
    }
    .THIS .content-wrapper{
        margin:0 20px;
    }
    .THIS .sentences{
        height:auto;
    }
    .THIS .personal-info .background-section{
        margin:0;
    }
    
}

.THIS {
    min-height:100vh;
}
.THIS .themeContainer{
    min-height:calc(100vh - 150px);
}
.THIS .body{
	width: 75%;
	background: #F0F0F0; 
}
.THIS .full-body{
	width: 100%;
}
.THIS .side-bar{
	width: 25%;  
}
@media only screen and (min-width: 768px) and (max-width: 1023px){
    .THIS .body{
		width: 100%;; 
	}
    .THIS .side-bar{
        width: 100%;  
    }
}

.THIS.theme-background{
    background-color: token(white);
    color: token(blue);
}
.THIS .button-section button {
    background-color :token(primary);
    border-radius: 5px;
}
/*added by sanjana*/
.THIS .address-button, .THIS .slds-button_neutral{
  height: 42px;
  border-radius: 5px;
  border: solid 2px #0872b9;
  background-color: #ffffff;
  color: token(primary);
  font-family: token(btnfontfamily);
  font-size: token(btnfontsize);
  font-weight: token(btnfontweight);
  max-height: 3rem;
}
.THIS .cancel-button,.THIS .add-button {
  width: 111px;
  height: 42px;
  border-radius: 5px;
  border: solid 2px #0872b9;
  background-color: #ffffff;
  font-family: token(btnfontfamily);
  font-size: token(btnfontsize);
  font-weight: token(btnfontweight);
}
.THIS .back-button{
  width: 130px;
  height: 42px;
  border-radius: 5px;
  border: solid 2px #0872b9;
  background-color: #ffffff;
  font-family: token(btnfontfamily);
  font-size: token(btnfontsize);
  font-weight: token(btnfontweight);
}

.THIS .next-button {/* next or continue button*/
  width: 130px;
  height: 42px;
  font-family: token(btnfontfamily);
  font-size: token(btnfontsize);
  font-weight: token(btnfontweight);
  background-color :token(primary);
  border-radius: 5px;
  color:token(white);
}
/*fields label and input style*/
.THIS .field-size label,.THIS .fileupload .slds-form-element__label,.THIS .fileupload .slds-medium-show {
    font-family: token(btnfontfamily);
    font-size: token(btnfontsize);
    line-height:1;
    font-weight: token(txtfontweight);
    color: token(fieldclr);
    margin:0px;
    padding:0px 0px 5px 0px;
}
.THIS .field-size div input, .THIS .field-size div select{
  padding:0px 12px;
  box-sizing:border-box;
  border: solid 1px #5b616b;
  box-shadow: none;
  height: 42px;
  font-family: token(btnfontfamily);
  font-size: token(btnfontsize);
  font-weight: token(btnfontweight);
  font-style: token(txtfontstyle);;
  color: token(fieldclr);
  background-color:token(white);
}
.THIS .field-size {
    display: inline-block;
    width: 45%;
    flex-basis: auto;
    padding: 0px;
    margin-bottom: 24px;
    box-sizing: border-box;
}
.THIS .multi-field:nth-child(odd), .THIS .field-margin {
    margin-right:10%;
}
/* review and submit headings*/
.THIS .fileupload .slds-form-input_label,.THIS .headings{
  height: 44px;
  font-family: token(btnfontfamily);
  font-size: token(btnfontsize);
  font-weight: token(txtfontweight);
  font-style: token(txtfontstyle);
  color: token(fieldclr);
}
/* review and submit declaration statements*/
.THIS .sentences,.THIS .field-item .slds-text-longform{
  height: 40px;
  font-family: token(btnfontfamily);
  font-size: token(senfontsize);
  font-weight: token(txtfontweight);
  font-style: token(txtfontstyle);
  color: token(sentenceclr);
}
/* license information ques*/
.THIS .questions .slds-form-element__legend{
  font-family: token(btnfontfamily);
  font-size: token(senfontsize);
  font-weight: token(txtfontweight);;
  font-style: token(txtfontstyle);
  color: token(sentenceclr);

}
.THIS .underline, .THIS .underlineblk .slds-input{
    border-bottom:0.5px solid #1b1c1a;
    background: #ffffff;
}
.THIS .personal-info .slds-input{
     border-bottom:0.5px solid #1b1c1a;
     background: #ffffff;
     box-shadow:none;
   
}
.THIS .ques .quesclr{
  color:token(LnGPlaceholderText);
  height: 40px;
  font-family: token(btnfontfamily);
  font-size: token(senfontsize);
  font-weight: token(txtfontweight);;
  font-style: token(txtfontstyle);
  line-height: normal;
}