@font-face{
    font-family:'NotoSerif-Bold'; 
    src:url('/lightningwashington/resource/Noto_Serif/Noto_Serif/NotoSerif-Bold.ttf');
}
@font-face{
    font-family:'NotoSerif-Regular';
    src:url('/lightningwashington/resource/Noto_Serif/Noto_Serif/NotoSerif-Regular.ttf');
}
@font-face{
    font-family:'SourceSansPro-Regular';
    src:url('/lightningwashington/resource/Source_Sans_Pro/Source_Sans_Pro/SourceSansPro-Regular.ttf');
}
@font-face{
    font-family:'SourceSansPro-SemiBold';
    src:url('/lightningwashington/resource/Source_Sans_Pro/Source_Sans_Pro/SourceSansPro-SemiBold.ttf');
}
@font-face{
    font-family:'NotoSansTC-Regular';
    src:url('/lightningwashington/resource/Noto_Sans_TC/Noto_Sans_TC/NotoSansTC-Regular.otf');
}
@font-face{
    font-family:'SourceSansPro-Italic';
    src:url('/lightningwashington/resource/Source_Sans_Pro/Source_Sans_Pro/SourceSansPro-Italic.ttf');
}
@font-face{
    font-family:'Merriweather-Light';
    src:url(/lightningwashington/resource/Merriweather/Merriweather-Light.ttf); /*1560421450000*/
}
@font-face{
    font-family:'Merriweather-Regular';
    src:url(/lightningwashington/resource/Merriweather/Merriweather-Regular.ttf); /*1560421450000*/
}
@font-face{
    font-family:'PublicSans-Regular';
    src:url(/lightningwashington/resource/PublicSans/PublicSans-Regular.ttf); /*1560421450000*/
}
.THIS .slds-input::-moz-placeholder {  /*firefox*/       
  
    line-height: 42px !important;
}
/*.THIS .slds-input::-webkit-input-placeholder {  
      line-height: inherit !important;
      height: 42px !important; 
}*/
/*.THIS .slds-input::-webkit-input-placeholder {  
     line-height:40px !important;
}*/
@supports (-webkit-overflow-scrolling: touch) {
  .THIS .slds-input::-webkit-input-placeholder {  
     line-height:40px !important;
}
}
.THIS h1,.THIS h2,.THIS h3,.THIS h4,.THIS h5,.THIS h6{
    font-family: t(merrifontfamily);
}
.THIS .merriweather-font{
    font-family: t(merrifontfamily);
}
.THIS :focus{
	box-shadow:none;
	outline:none;
}
.THIS .required{
    color:t(fieldclr);
}
.THIS {
    min-height:100vh;
}
.THIS .themeContainer{
    min-height:calc(100vh - 106px);
}
.THIS .full-body .slds-col--padded.contentRegion{
    padding:0;
}
.THIS .body{
    width: 75%;
    background: #F0F0F0; 
}
.THIS .full-body{
    width: 100%;
}
.THIS .side-bar{
    width: 25%;  
}
.THIS .ie-header{
    width:100%;
    padding:1.5rem;	
	background-color:t(headerclr);
}
.THIS.main-content.ie-content .footerWrapper{
    position:absolute;
    bottom:0px;
}
@media only screen and (min-width: 768px) and (max-width: 1023px){
    .THIS .body{
        width: 100%;; 
    }
    .THIS .side-bar{
        width: 100%;  
    }
}

.THIS.theme-background{
    background-color: token(white);
    color: token(blue);
}
/*.THIS .button-section button {
background-color :token(primary);
border-radius: 5px;
}*/
/*added by sanjana*/
.THIS .siteforcePanelsContainer .slds-modal__header h2{
    font-size:15px;
}
.THIS .validate .slds-radio__label .slds-form-element__label{
    height: auto;
    font-family: 'PublicSans-Regular';
    font-size: t(fieldlabelsize);
    font-weight: normal;
    font-style: normal;
    color: t(fieldclr);
}
.THIS .slds-radio .slds-form-element__label{
    font-size: 14px;
    color: token(radioBoxClr);
    font-family: token(publicSansfontfamily);
}
.THIS .borderBtn{
    padding-bottom:55px;
}
.THIS .slds-button:focus {
    outline: 0;
    box-shadow: 0 0 3px #0070d2;
}
.THIS .personal-info .slds-checkbox_faux{
    border:1px solid #5b616b;
}
.THIS .personal-info .slds-input:focus,.THIS .slds-select:focus,.THIS .uiInputTextArea:focus{
    outline: dotted 2px #aeb0b5;
    outline-offset: 2px;
}
.THIS .slds-input:focus, .THIS .slds-select:focus{
    outline: dotted 2px #aeb0b5;
    outline-offset: 2px;
}
.THIS .address-button, .THIS .slds-button_neutral{ 
    
    
    font-family: token(publicSansfontfamily);    
    font-weight: token(btnfontweight);
    
}
.THIS .cancel-button,.THIS .add-button {
    width: 111px;
    height: 42px;
    border-radius: 5px;
    border: solid 2px #0872b9;
    background-color: #ffffff;
    font-family: token(publicSansfontfamily);
    font-size: token(fieldlabelsize);
    font-weight: token(btnfontweight);
}
.THIS .cancelbtn{
    
    width: 111px;
    height: 42px;
    border-radius: 5px;
    background-color: t(primary);
    font-family: token(publicSansfontfamily);
    font-size: token(fieldlabelsize);
    font-weight: token(btnfontweight);
}
.THIS .back-button{
    width: 130px;
    height: 42px;
    border-radius: 5px;
    border: solid 2px #0872b9;
    background-color: #ffffff;
    font-family: token(publicSansfontfamily);
    font-size: 15px;
    font-weight: token(btnfontweight);
    color:t(primary);
}

.THIS .next-button {/* next or continue button*/
    width: auto;
    height: 42px;
    font-family: token(publicSansfontfamily);
    font-size: token(fieldlabelsize);
    font-weight: token(btnfontweight);
    background-color :token(primary);
    border-radius: 5px;
    color:token(white);
}
/*fields label and input style*/
.THIS .field-size label,.THIS .field-size .slds-form-element__label,.THIS .fileupload .slds-form-element__label,.THIS .fileupload .slds-medium-show,.THIS .licenseinp span,.THIS .licenseinp label,.THIS .licensetab label,.THIS .businesstab label,.THIS .page-content label,.THIS .program span
,.THIS .course-type span,.THIS .licensure span,.THIS .screen-one .section-form-container label,.THIS .field-item label,.THIS .self-service-wrapper label{
    font-family: token(publicSansfontfamily);
    font-size: token(fieldlabelsize);
    line-height:1.5;
    font-weight: token(txtfontweight);
    color: token(fieldclr); 
    max-width: none;
}

.THIS .field-size div input, .THIS .field-size div select,.THIS .field-item div input,.THIS .amrfield div input{
    padding:0px 12px;
    box-sizing:border-box;
    border: solid 1px #5b616b;
    box-shadow: none;
    height: 42px;
    font-family: token(publicSansfontfamily);
    font-size: token(fieldlabelsize);
    font-weight: token(btnfontweight);
    font-style: token(txtfontstyle);
    color: token(fieldclr);
    background-color:token(white);    
}
.THIS .field-size {
    display: block;       
    padding: 0px;
    margin: 0 0 0.8rem;
    box-sizing: border-box;
}
.THIS .field-item .slds-form-element__control,.THIS .self-service-wrapper .slds-form-element__control{
    width:50%;
}
.THIS .field-size .slds-form-element__control{
    width:50%;
}
.THIS .field-item.review-item .slds-form-element__control{
    width:auto; 
}
/*.THIS .field-size .slds-form-element_stacked:not([class*="slds-size"]){
width:auto;
flex-basis:auto;
} */
.THIS .screen-one .section-header{/*license lookup */
    font-family: token(merrifontfamily);
    font-size: token(btnfontsize);
    line-height:1;
    font-weight: token(txtfontweight);
    color: token(fieldclr);
    padding-bottom: 5px;
}
.THIS .licenseinp input::placeholder,.THIS .licensetab input::placeholder,.THIS .businesstab input::placeholder,.THIS .breadcumb a,.THIS .complaintSummary::placeholder,.THIS .slds-file-selector__text,.THIS .placeholTxt input::placeholder,.THIS .field-style input::placeholder,.THIS .userpswd1 input::placeholder{
    height: 22px;
    font-family: token(publicSansfontfamily);
    font-size: token(fieldlabelsize);
    font-weight: token(txtfontweight);
    font-style: token(txtfontstyle);
    line-height: normal;
    color: token(placeholderColor);
}
.THIS .sub-header,.THIS .sub-section,.THIS .subheader span{
    font-family: token(merrifontfamily);
    font-size: token(senfontsize);
    font-weight: token(txtfontweight);
    font-style: token(txtfontstyle);
    line-height: normal;
    color: token(subHeader);
}
.THIS .page-content .slds-checkbox .slds-form-element__label{
    color:t(LnGFormTitleColor);
    font-family: token(btnfontfamily);
    font-size: t(senfontsize);
    font-weight: t(txtfontweight);
    font-style: t(txtfontstyle);
    line-height: normal;
}
.THIS .page-content .slds-checkbox .slds-checkbox_faux{
    border:1px solid #71767a;
}
.THIS select, .THIS input{
    border: 1px solid #5b616b;
    height:42px;
    
}
.THIS .slds-page-header{
    color: t(LnGFormTitleColor);
    border-radius: 3px;
    background: t(white);
    height: 36px;
    font-size: 20px;
    font-weight:600;
    font-style: token(txtfontstyle);
    line-height: normal;
}

.THIS .text-style,.THIS .text-style-val,.THIS .field-style,.THIS .field-style-val{
    font-family: token(publicSansfontfamily);
    font-style: t(txtfontstyle);
    line-height: normal;
    color: t(headerItemColor);
    font-size:15px;
    display:inline-block;
}
.THIS .text-style,.THIS .field-style{
    font-weight: t(btnfontweight);
    
}
.THIS .text-style-val,.THIS .field-style-val{
    font-weight: t(txtfontweight);
    
}
.THIS *{
    font-family: token(publicSansfontfamily);
}

.THIS .text-size{
    font-family: t(publicSansfontfamily);
    font-size: 14px;
    font-weight: t(txtfontweight);
    font-style: t(txtfontstyle);
    line-height: normal;
    text-align: center;
    color: t(headerItemColor);
    
}
.THIS .btn-bg{
    background-color:t(primary);
    color:#fffffe;
    height:42px;    
}
.THIS .slds-max-medium-table_stacked td:before, .THIS .slds-max-medium-table_stacked th:before{
    text-transform:capitalize;
    color:t(LnGFormTitleColor);
    font-weight:bold;
}

/*.THIS select option{ 
color: token(fieldclr) 
}
.THIS select option:first-child{
color: token(placeholderColor);
}*/
.THIS .licenseinp .slds-input,.THIS .licensetab .slds-input,.THIS .businesstab .slds-input,.THIS .page-content .slds-input,.THIS .screen-one .section-form-container .slds-input{
    border: 1px solid #5b616b;
    height:42px;
    box-shadow:none;
    border-radius:unset;
}
/*.THIS .screen-one .slds-tabs_default__nav li:nth-child(n+2){
width:50%;
text-align:center;
padding:0;
}    */
.THIS .screen-two .slds-form-element__label,.THIS .screen-two .slds-form-element__control{
    font-family: token(publicSansfontfamily);
    font-size: token(senfontsize);
    font-weight: token(btnfontweight);
    font-style: token(txtfontstyle); 
    line-height: 1.27;
    color:token(LnGFormTitleColor);
}
.THIS .screen-two .slds-form-element__label{
    padding:0;
    max-width:100%;
    
}
.THIS .screen-two .btnnrml{
    font-weight: token(txtfontweight);
} 
.THIS .screen-two .slds-m-bottom_medium .sub-header{
    font-family: t(merrifontfamily);
    font-size: 22px;
    font-weight: 500;
    font-style: t(txtfontstyle);
    line-height: normal;
    color:token(LnGFormTitleColor);
}
.THIS .slds-tabs_default__nav li a{
    font-family: token(publicSansfontfamily);
    font-size: token(licensefontsize);
    font-style: token(txtfontstyle);
    line-height: normal;
    color: token(licensetxt);
}
.THIS .slds-tabs_default__nav .slds-is-active{
    
    color: token(licensetxt);
}
.THIS .modify-btn{
    height: 29px;
    font-family: token(publicSansfontfamily);
    font-size: 16px;
    font-weight: 500;
    font-style: token(txtfontstyle);
    line-height: 2.31;
    color: token(primary);
    border: none;
    box-shadow: none;
    text-decoration: underline;
    padding-bottom:3rem;
}
.THIS .buttonpos{
    margin: 0;
    padding-top: 45px;
    padding-bottom: 22px;
    border-top: 1px solid #5b616b;
}
.THIS .personal-info .slds-button_icon-bare{
    color:t(primary);
}
.THIS .qfield-margin{
    margin-bottom:0
}
/*.THIS .multi-field:nth-child(odd), .THIS .field-margin {
margin-right:10%;
} */
/* review and submit headings*/
.THIS .fileupload .slds-form-input_label,.THIS .headings{
    height: auto;
    font-family: token(publicSansfontfamily);
    font-size: token(fieldlabelsize);
    font-weight: token(txtfontweight);
    font-style: token(txtfontstyle);
    color: token(fieldclr);
}
.THIS .headings{
    font-family: token(merrifontfamily);
}
/* review and submit declaration statements*/
.THIS .sentences,.THIS .field-item .slds-text-longform{
    height: auto;
    font-family: token(publicSansfontfamily);
    font-size: token(fieldlabelsize);
    font-weight: token(txtfontweight);
    font-style: token(txtfontstyle);
    color: token(fieldclr);
    line-height:1.5;
    
}
.THIS .slds-text-longform{
    font-family: token(publicSansfontfamily);
    font-size: token(fieldlabelsize);
    line-height:1.5;
    font-weight: token(txtfontweight);
    color: token(fieldclr);
    margin:0px;
    
}
/* license information ques*/
.THIS .questions .slds-form-element__legend{
    font-family: token(publicSansfontfamily);
    font-size: token(fieldlabelsize);
    font-weight: token(txtfontweight);;
    font-style: token(txtfontstyle);
    color: token(subHeader);
    
}
.THIS .underlineblk .slds-input{
    border-bottom:0.5px solid #1b1c1a;
    background: #ffffff;
}
.THIS .underline{
    padding-bottom: 8px;
    border-bottom:0.5px solid #d6d7d9;
    background: #ffffff;
}
.THIS .personal-info .slds-input{
    /* border-bottom:0.5px solid #1b1c1a*/
    background: #ffffff;
    box-shadow:none;
    
}
.THIS .sentenceResp .uiOutputRichText{
    color:t(sentenceclr);
    font-size:t(fieldlabelsize);
}
.THIS .sentenceResp .revAndSubCompletionFont .uiOutputRichText{
    color:t(fieldclr);
    font-size:t(fieldlabelsize);
}
.THIS .ques .quesclr{
    color:token(LnGPlaceholderText);
    height: auto;
    font-family: token(publicSansfontfamily);
    font-size: token(fieldlabelsize);
    font-weight: token(txtfontweight);;
    font-style: token(txtfontstyle);
    line-height: normal;
}
.THIS .slds-select, .THIS .slds-input{
    border-radius:unset;
    font-size: token(fieldlabelsize);
    box-shadow:none;
    border:1px solid t(gray);
}
.THIS .slds-select{
    z-index:1;
}
/* common style for tables */
.THIS .slds-hint-parent div{    
    
    font-weight: t(txtfontweight);
    font-style: t(txtfontstyle);
    line-height: 1.63;
    color:token(LnGFormTitleColor);
}
.THIS .slds-th__action{
    height: 18px;
    font-family: token(publicSansfontfamily);
    font-size: 13px;
    font-weight: t(btnfontweight);
    font-style: t(txtfontstyle);
    line-height: normal;
    color:token(LnGFormTitleColor);
    box-shadow:none;
}
.THIS .slds-table_bordered tbody td, .THIS .slds-table_bordered tbody th{    
    /*border-right:solid 1px t(gray);
    border-top: solid 1px t(gray);*/
}
.THIS .slds-table_header-fixed_container::before{
    border-bottom:none;
}
.THIS .slds-table_bordered.slds-table {
    border-color:#5b616b;  
    table-layout:fixed;
}
.THIS .slds-table thead th{
    padding: 1rem 2rem;
}
.THIS .slds-table tbody td{
    padding:1rem 2rem; 
}
.THIS .slds-table_bordered.slds-table > thead > th{
    background-color:#eaeaea;
}   
.THIS .slds-table_bordered tbody tr > td:last-of-type,.THIS .slds-table_bordered tbody tr:first-child > td:last-of-type{
    border-right:none;
}
.THIS .slds-table_bordered thead th div{
    color:t(LnGFormTitleColor);    
}
.THIS .slds-table thead th{
    background-color:t(headerclr);
}
/* common style for tabs */
.THIS .slds-tabs_default__overflow-button .slds-button{
    color:t(actionPanelBG);
    font-size:1rem;
}
.THIS .table-scroll {
    max-width:100%;
    max-height:100%;
    overflow:auto;
}
.THIS .slds-tabs_default__item::after, .THIS .slds-tabs--default__item::after{
    display:none;
} 
.THIS .slds-tabs_default__item.slds-is-active{
    
    font-weight: token(btnfontweight);
    color:t(fieldclr);   
    border-bottom: solid 2px #0071bc;
    
}
.THIS .slds-tabs_default__item.slds-is-active .slds-tabs_default__link{
    font-weight:bold;
    text-decoration:none; 
}
.THIS .slds-tabs_default__item .slds-tabs_default__link{
    font-family: t(publicSansfontfamily);
    font-size: 1rem;    
    display:flex;
    align-items:center;
    justify-content:center;
    line-height:1.2;
}

.THIS .slds-tabs_default__link[tabindex="0"]:focus{
    text-decoration:none;
}
.THIS .main-content .contentRegion{
    padding:0;
}
/*common style for tabs */
.THIS .slds-tabs_default__item{    
    border : solid 1px t(actionPanelBG);
    border-top-left-radius : 4px; 
    border-top-right-radius : 4px; 
    height:65px;
    align-items:center;
    display:flex;
    justify-content:center;
    padding:0; 
    flex-grow:1;
}
.THIS .slds-tabs_default__item::after, .THIS .slds-tabs--default__item::after{
    display:none;
}
.THIS .slds-tabs_default__item.slds-is-active{
    background:t(actionPanelBG);
    color:t(LnGWhite);
}
.THIS .slds-tabs_default__item.slds-is-active .slds-tabs_default__link{
    color:t(LnGWhite);
    text-decoration:none;
}
.THIS .slds-tabs_default__item .slds-tabs_default__link{   
    font-size: 1rem;    
    color: t(actionPanelBG);
    display:flex;
    align-items:center;
}

.THIS .padding-top-30{
    padding-top:30px;
}
.THIS .padding-bottom-20{
    padding-bottom:20px;
}
.THIS .border-bottom {
    border-bottom:1px solid t(headerclr);
}
.THIS .slds-tabs_default__item.slds-tabs_default__overflow-button[style='visibility: hidden;']{
    display:none;
}

/*common style for tabs end*/
.THIS .slds-button.slds-button_brand{
    background:t(linksColor);
    font-weight:bold;
    color:t(LnGWhite);
    border-radius : 4px;
}
.THIS .slds-button.slds-button_neutral{
    font-weight:bold;
    border-radius:4px;
    color:t(buttonNeutral);
    border : solid 1px t(buttonNeutral);
}
.THIS a:focus{
    text-decoration:underline;
    color:t(actionPanelBG);
    font-weight:600;
}
.THIS a.skip-content {
    left:-999px;
    position:absolute;
    top:auto;
    width:1px;
    height:1px;
    overflow:hidden;
    z-index:-999;
}
.THIS a.skip-content:focus, .THIS a.skip-content:active {
    color: #fff;
    background-color:#000;
    left: auto;
    top: auto;
    width: 30%;
    height: auto;
    overflow:auto;
    margin: 10px 35%;
    padding:5px;
    border-radius: 15px;
    border:4px solid yellow;
    text-align:center;
    font-size:1.2em;
    z-index:999;
}
.THIS a{
    color:t(linksColor);
}

@media only screen and (max-width:767.9px){    
    .THIS .next-button{
        display:block;
        width:100%;
        margin-bottom:6px;
    }
  
    .THIS .next-button{
        margin-left:0;
    }
    .THIS .alignRight{
        margin:0 auto;
    }
    .THIS .btnAlign{
        padding:1rem;
    }
    
    .THIS .divBox .slds-tabs_default__overflow-button .slds-dropdown-trigger .slds-button{
        font-family: t(publicSansfontfamily);
        font-size: 1rem;    
        display:flex;
        align-items:center;
        justify-content:center;
        color:t(black);
    }
}
@media t(mqSmall){
    .THIS .body{
        width: 100%;; 
    }
    .THIS .cancel-button{
        width:111px;
    }

    .THIS .side-bar{
        width: 100%;  
    }
    .THIS .slds-grid .field-size {
        display: block;
        width: 100%;
    }
    .THIS .slds-grid .multi-field:nth-child(odd){
        margin-right:0;
    }
    .THIS .slds-grid .address{
        width:100%;
    }
    .THIS .slds-select_container{
        width:100%;
    }
    .THIS .content-wrapper{
        margin:0 .5rem;
    }
    .THIS .background-section .sentences{
        height:auto;
    }
    .THIS .personal-info .background-section{
        padding:0;
    }
    .THIS .content-wrapper .buttonpos{
        margin: 10% 0;
        padding:0;
        display:flex;
        align-items:flex-end;
        justify-content:flex-end;
    }
    
    .THIS .button-section .slds-m-left_medium{
        margin-left:0;
    }
    .THIS .personal-info .ques .quesclr{
        height:auto;
    }
    .THIS .ques{
        width:100%;
    }
    .THIS .personal-info .field-item{
        padding:0;
    } 
    .THIS table.slds-table_bordered tbody td{
        border-right:none;
    }
    .THIS .page-width .field-item .slds-form-element__control,.THIS .page-width .field-size .slds-form-element__control,.THIS .portal-registration-form-container .field-item .slds-form-element__control,.THIS .personal-info .field-size .slds-form-element__control{
        width:100%;
    }
    .THIS .slds-table tbody td{
        padding:0.75rem;
        font-size:0.8125rem;
        border:none;
    }
    .THIS .slds-table tbody tr{
        border:solid 1px t(grayBorder);
        margin-top:1rem;
        border-radius : 0.25rem;
    } 
    .THIS .slds-tabs_default__item .slds-tabs_default__link{
        font-size:0.8125rem;
    }
    .THIS .slds-tabs_default__overflow-button .slds-button{
        
        font-size:0.8125rem;
    }
}
@media only screen and (min-width: 768px) and (max-width: 1023px){
    .THIS .field-size .slds-form-element__control{
        width:100%
    }
    .THIS  .field-item .slds-form-element__control{
        width:100%;
    }
    
    
}
.THIS .slds-spinner_container {
    position:fixed;
}
.THIS span.slds-checkbox {
    width: 100%;
}
.THIS .slds-datepicker .slds-form-element__control,
.THIS .field-size .slds-datepicker .slds-form-element__control {
    width: 100%;
}
.THIS .slds-datepicker .slds-form-element__control select,
.THIS .field-size .slds-datepicker .slds-form-element__control select {
    padding: 0px 20px 0px 10px;
}