.THIS {
}
.THIS .footer-links {
    display: flex;
    margin-bottom: -9px;
    margin-top: -14px;
    font-size: 12px;
}
.THIS li {
    margin: 15px 22px 0 6px;
    margin-left: 14px;    
}
.THIS a{
    color: token(blue);
    text-decoration: solid;
}       
.THIS .tablet-footer{
    padding: 10px;
    color: token(black); 
	font-size: 14px
}
.THIS .col-margin{
   /* margin-left: 28px;*/
}                                    
.THIS .slds-global-header{
		background: token(white);
		height: auto;
		border-top: 3px solid token(blue);
		color: token(white);
        /*position: absolute;                                          
        bottom: 0;
        right: 0;
        left: 0;*/
}
/*@media only screen and (min-width: 1500px){
    .THIS .slds-global-header{
     	position: absolute;
        bottom: 0;
        right: 0;
        left: 0;
	} 
    .THIS.container{
        height: -webkit-fill-available;
        position: relative;                                                    
	}  
}*/
                                                   
 .THIS .margin-space{
       	background: token(white);
		height: auto;
		border-top: 3px solid token(blue);
		color: token(white);
        /*margin-top:74px; */                                                
}