.THIS.license-outer-wrapper{
    padding:40px 100px;
}
.THIS .license-details-wrapper{
    border-radius: 4px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.1);
    border: solid 1px t(sectionBorder);
}
.THIS .table-scroll{
    max-height:100%;
    max-width:100%;
    overflow:auto;
}
.THIS .details-header{
    padding:16px 32px;   
    border-bottom: solid 1px t(headerUnderline);
}
.THIS .header-item{    
    font-size: 16px;
    font-weight: 600;    
    color: t(headerItemColor);
}
.THIS .info-date{
    text-align:right;
    padding-bottom:10px;
}
.THIS .details-body{
    padding:20px 32px 0;
}
.THIS .name-details, .THIS .contact-details, .THIS .issue-details{
    padding-bottom:27px;    
    font-size: 12px;    
    color: t(headerItemColor);
}
.THIS .label-style{
    font-weight:bold;
}
.THIS .issue-item, .THIS .contact-item{
    padding-bottom:12px;
}
.THIS .endorse-wrapper{
    padding-bottom:16px;
}
.THIS .endorse-header{  
  font-size: 14px;
  font-weight: bold;  
  color: t(headerItemColor);
  padding-bottom:8px;
  border-bottom:solid 1px t(headerUnderline);
}
.THIS .endorse-details{
    padding-top:16px;
}
.THIS .options-wrapper{
    padding-top:32px;
}
.THIS .sidebar-options li{
    text-align:right;
    padding-bottom:10px
}
.THIS .sidebar-options li a{
    text-decoration:underline;
    color:t(headertxt);
}
.THIS .tabs-wrapper{
    padding-top:54px;
}
.THIS .table-wrapper{
    height: auto;    
}
.THIS .table-inner{
    height: 100%; 
    position: relative;
}
.THIS .table-inner .slds-scrollable_x{
    height: 100%;
}
.THIS .table-head {
    font-size:1.25rem;
    font-weight:bold;
}
.THIS.button-wrapper{
    display:flex;
    margin-top:1rem;
    justify-content:flex-end;
}