@font-face{
    font-family:'SourceSansPro-SemiBold';
    src:url('/resource/Source_Sans_Pro/Source_Sans_Pro/SourceSansPro-SemiBold.ttf');
}
@font-face{
    font-family:'SourceSansPro-Italic';
    src:url('/resource/Source_Sans_Pro/Source_Sans_Pro/SourceSansPro-Italic.ttf');
}
@font-face{
    font-family:'SourceSansPro-Regular';
    src:url('/resource/Source_Sans_Pro/Source_Sans_Pro/SourceSansPro-Regular.ttf');
}
.THIS.main-wrapper {    
    padding:2.5rem 5rem;    
}

.THIS.border-wrapper {    
    border-radius:1.5rem;
    border-style: solid;
    border-right: solid 1px #DADADA;     
}
.THIS .search-icon{
    float:right;
}
.THIS .feedback-outer-wrapper{
    padding:1.5rem 2rem;
    background: t(LnGWhite);
    box-shadow: 3px 3px 12px 0 rgba(208,208,208,0.50);
    border-radius: 0.5rem;
    width:60%;
}
.THIS .search-license-wrapper{
    padding-bottom:1rem;
}
.THIS .search-license .slds-form-element__label{
    display:none;
}
.THIS .search-location{
    font-family:"SourceSansPro-Regular";
    font-size: 1rem;
    color: #025E60;
}
.THIS .license-find{
    padding-bottom:1rem;
}
.THIS .news-title-wrapper{
    display:flex;
    align-items:center;
}
.THIS .news-main-title{
    padding-right:1rem;
    font-family:"SourceSansPro-SemiBold";
    font-size:1.5rem;
    align-items:center;
    margin-left: 0;
    
}
.THIS.test-wrapper {
    border-radius:1.5rem;
    border-style: solid;
    border-right: solid 1px #DADADA;
    
}

.THIS .license-find-wrapper{
    box-shadow: 3px 3px 12px 0 rgba(208,208,208,0.50);
    border-radius: 0.5rem;
    padding:1.5rem 2rem;    
}
.THIS .main-title{    
    font-family:"SourceSansPro-SemiBold";
    font-size: 1.25rem;
    color: #00202A;
    line-height: 1.5rem;
    align-items:left;    
}
.THIS .search-input{
    width:50%;
    border-radius:1.5rem;
}
.THIS .search-input .slds-input{   
    border-radius:1.5rem;
}
.THIS .read-more-wrapper{
    padding-top:0.625rem;
    color: #025E60;
}
.THIS .outer-wrapper{
    display:flex;
    justify-content:space-between;
}
.THIS .sub-title{
    padding-top:0.625rem;
    font-family:"SourceSansPro-Italic";
    font-size: 1rem;
    color: #00202A;    
    margin-left:0.625rem;
}
.THIS .read-more-text{
    padding-left:1rem;
}
.THIS .license-find-title, .THIS .feedback-main-title{
    font-family:"SourceSansPro-SemiBold";
    font-size: 1.25rem;
    color: t(LnGTitleText);
    line-height: 1.5rem;
    padding-bottom:0.5rem;
}
.THIS .license-find-subtitle{
    position:relative;
}
.THIS .license-find-subtitle, .THIS .complaint-text{
    font-family:"SourceSansPro-Italic";
    font-size: 1rem;
    color: t(LnGGrayText);
}
.THIS .feedback-subtitle{
    font-family:"SourceSansPro-SemiBold";
    font-size: 1rem;
    color: t(LnGTitleText);    
    padding-bottom:0.5rem;
}
.THIS .hidden{
    visibility:hidden;
}
.THIS .complaint-text{   
    padding-bottom:1rem;
}
.THIS .read-arrow{
    padding-right:1rem;
}
.THIS .feedback-div{
    width:44%;
}
.THIS .submit-text{
    font-family: 'SourceSansPro-Regular';
    font-size: 1rem;
    color:t(LnGPrimaryColor);
}
.THIS .search-license .slds-input::placeholder{
    color:t(LnGPlaceholderText);
    font-family: 'SourceSansPro-Regular';
    font-size: 16px;
    opacity:0.4;
}
.THIS .link-style{
    color:t(LnGPrimaryColor);
    text-decoration:none;
}
.THIS .inputFile{
    opacity:0;
    position:absolute;
    z-index:1000;
    width:2.5rem;
    height:2.5rem;
}
.THIS .cam-image{
    width:2.5rem;
    height:2.5rem;
    display:block;
}
.THIS .save-button{
    position:relative;
    z-index:2000;
}
.THIS .complaint-outer-wrapper{
    display:flex;
    justify-content:space-between;
}
@media screen and (max-width: 1279.9px) {
    .THIS.main-wrapper{
        padding:1.5rem;
    }
    .THIS .license-find-wrapper {
        margin:0 0 1rem;
        padding:1.5rem;
    }
    .THIS .feedback-outer-wrapper{
        width:100%;
		padding:1.5rem;
    }
    .THIS .feedback-div{
        width:100%;
    }
}