.THIS .empty-state{
    margin-top:1rem;
}
.THIS .pagination-wrapper{
    margin-top:1.5rem;
}
.THIS .exam-btn-wrapper{
    display:flex;
    flex-direction:column;
}
.THIS .exam-btn{
    font-size:0.8125rem;
	margin-bottom:0.25rem;    
}
.THIS .exam-btn:last-of-type{
    margin:0;
}