.THIS .empty-state{
    margin-top:1rem;
}
.THIS .pagination-wrapper{
    margin-top:1.5rem;
}
.THIS .exam-btn-wrapper{
    display:flex;
    flex-direction:column;
}
.THIS .exam-btn{
    font-size:0.8125rem;
	margin-bottom:0.25rem;    
}
.THIS .exam-btn:last-of-type{
    margin:0;
}
.THIS .slds-table tbody td{
    padding:1rem 0.5rem;
}
.THIS .exam-btn-wrapper .slds-button_brand{
    font-size: 14px;
    white-space: nowrap;
}
.THIS .exam-btn-wrapper .slds-truncate{
    overflow:visible
}