.THIS {
}
.THIS img{
    height: 35px;
}
.THIS .widget{
    /*background-color:t(LnGWhite); */
    /*border : solid 1px t(LnGWhite); */
    /*border-radius:8px;*/
    /*padding:2rem;*/
}
.THIS .app-btn{
    float: right;
    background: t(LnGPrimaryColor);
    border-radius: 1.25rem;        
    text-align: center;
    font-size: 1rem;
    padding:0.25rem 1rem;
}
.THIS .app-btn a{
    color:t(LnGWhite);
}
.THIS .b-bottom{
    border: 1px solid t(LnGFormGray);  
    margin-bottom:1rem;
    background-color:t(LnGWhite);
    padding: 0.5rem 0;
}
.THIS .view-more{
    text-align: right;
    padding: 55px 10px;
}
.THIS .col{
    color: token(LnGFormGray);
    font-size: 1rem;
}
.THIS .header{    
    display: flex;
    align-items: center;
    justify-content: center;    
}
.THIS .app{
    text-transform : uppercase;
    font-weight:bold;
    font-size:1rem;
    color: t(LnGPrimaryColor);
}
/*.THIS .widget{
    padding: 10px;
}*/
.THIS .content{
    height: 105px;
    padding: 0 20px;
}
.THIS .fontSize{
    font-size: 14px;                                   
}                                                                       
.THIS hr{
    width: -webkit-fill-available;
    border-top: .5px solid #d4d4d4;
    margin: 1px;                                    
}
.THIS .bottom-card-font-size{
    font-size: 14px; 
    color:t(LnGFormTitleColor);
}
.THIS .datacellId-fontBorder{
    font-size: 12px;
}
.THIS .view-text{
    color:t(LnGPrimaryColor);
}
.THIS .down-btn-wid{
    color:t(LnGPrimaryColor);
    border:solid 1px t(LnGPrimaryColor);
    border-radius:25px;        
}
.THIS .slds-tabs_default__link{
    color:t(LnGPrimaryColor);
    font-size:1.25rem;    
}
.THIS .slds-tabs_default__item{
    padding:1rem;
    margin-right:2rem;
}
.THIS .slds-tabs_default__nav{
    margin-left:1rem;
}
.THIS .btn-wrapper{
    padding:1rem 1rem 0;
}
.THIS .renew-btn{
    display:flex;
    justify-content:flex-end;
}
@media (max-width: 30em)
    {
    .THIS .slds-small-size_1-of-1, .THIS .slds-small-size--1-of-1 {
        width: 100%;
    }
    .THIS .content .slds-small-size_1-of-4, .THIS .content .slds-small-size--1-of-4 {
        width: 25%;
        word-break: break-word;
    }
    .THIS .view-more {
        text-align: right;
        padding: 19px 10px;
    }
    .THIS .app-btn{
        float:none;
        margin-top:0.5rem;
    }
    
}