.THIS.page-width {
    width: 96%;
    max-width: 892px;
    margin: 0px auto;
}
.THIS .page-header h1{
  font-family: t(publicSansfontfamily);
  font-size: 20px;
  font-weight: 600;
  font-style: t(txtfontstyle);
  line-height: 1.48;
  color: t(LnGFormTitleColor);
}
.THIS .page-content .heading{
  font-family: t(publicSansfontfamily);
  font-size: 17px;
  font-weight: t(txtfontweight);
  font-style: t(txtfontstyle);
  line-height: normal;
  color: t(fieldclr);
}
.THIS .success li {
  width: 2rem;
  height: 2rem;
  text-align: center;
  line-height: 2em;
  border-radius:5rem;
  background: dodgerblue;
  margin: 0 1em;
  display: inline-block;
  color: white;
  position: relative;
    box-shadow:0 0 0 1px red;
    box-sizing:border-box;

}

.THIS .success li::before{
  content:'';
  position: absolute;
  top: .9em;
  left: -4em;
  width: 4em;
  height: .2em;
  background: dodgerblue;
  z-index: -1;
}
.THIS .success li:first-child::before {
  display: none;
}
.THIS .success .test{
position:absolute;
display:flex;
color:black;
}
.THIS .page-content .slds-input::placeholder{
    font-style:t(txtfontstyle);
}
.THIS .complaint-summary .slds-textarea{
    height:180px;
}
.THIS .fileupload .slds-file-selector__dropzone{
    border:none
}
.THIS .fileupload .slds-form-element__label{
    display:none;
}
.THIS .fileupload .slds-file-selector__button{
    color:t(white);
    background:t(primary);
}
.THIS .fileupload .slds-file-selector__text{
    margin-left:1rem;
    font-size:t(senfontsize);
    color:t(placeholderColor);
}
.THIS .slds-form-element__control .slds-radio {
    display: inline-block;
}
.THIS .button-border{
    border: none;
    color: black;
    box-shadow: none;
    text-decoration: underline;
}
.THIS .color-black {
    background-color: t(black);
    border-color: t(black);
}
.THIS .buttons .left{
    text-align:left;
}
.THIS .buttons .right{
    text-align:right;
}


.THIS .slds-path__item{
    min-width: 0;
}
.THIS .slds-path__title{
    overflow:inherit;white-space: inherit;
}
.THIS .icon{
    vertical-align: middle;
    height: 50px;
}
.THIS .subsubheader{    
    color: t(LnGFormTitleColor);
    font-size:14px;
}
.THIS .active-path{
    border-top: 1px solid #2f853d;
}
.THIS .is-not-current{
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    /*filter: grayscale(100%);*/
    opacity: 0.3;
}
.THIS .is-complete{
    border: 3px solid green;
    box-shadow: 0px 0px 20px green;
}
.THIS .outer-circle {
	background: #eff1ff;
	border-radius: 50%;
	height:27px;
	width:27px;
    position: relative;
    box-shadow: 0 0 0 5px #215393;
    margin:10px auto;
}
.THIS .red-circle {
  height: 27px;
  width: 27px;
  background: #eff1ff;
  border-radius: 50%;
  box-shadow: 0 0 0 5px #e2574c;
  margin:10px;
}
@media t(mqSmall){
	.THIS .icon{
        height: 40px;
	}
	.THIS hr {
		width: 20px;
		margin: 20px 0;                    
	}
	.THIS .inactive-path-title{
		display: none;
	}
	.THIS .is-not-current{
		display: none;
	}
	.THIS .is-complete-path{
		display: none;
	}
	.THIS .slds-path__nav{
   		margin: 0 10px;
    }
    
    .THIS .field-item {
        padding: 0 0 .5rem;
        width: 100%;
    }

    .THIS .chkbox-container {
        padding-bottom: .5rem;
    }

    .THIS .complaint-btn-wrapper {
        margin-top: .5rem;
        flex-direction: column;
    }

    .THIS .back-button {
        width: 100%;
        margin-bottom: .5rem;
    }

    .THIS .submit-btn-wrapper {
        display: flex;
        flex-direction: column;
    }
    .THIS .submit-btn-wrapper button {
        width: 100%;
        padding: 0;
        margin: 0 0 .5rem;
    }
}
@media only screen and (min-width: 768px) and (max-width: 1023px){
	.THIS hr {
		width: 45px;
		margin: 32px 0;
	}
    .THIS .is-complete-path{
		display: none;
	}
	.THIS .inactive-path-title{
		display: none;
	}
	.THIS .is-not-current{
		display: none;
	}
}
.THIS .inactive-path-title{
   text-overflow: ellipsis;   
   color: token(darkgrey);
   font-size: 14px;
}
.THIS .active-path-title{
   text-overflow: ellipsis;   
   color: token(LnGFormTitleColor);
   font-size: 14px;
   font-weight:bold;
}
.THIS .is-complete-path{
   text-overflow: ellipsis;   
   color: token(LnGFormTitleColor);
   font-size: 14px;
}
@media t(mqLarge){
  .THIS hr {
    width: 100px;                    
  }
  .THIS .mobile-tab-view{
	display:none;
  }
}
.THIS hover{
   cursor: pointer; 
}
.THIS img{
   cursor: pointer; 
}
.THIS span{
   cursor: pointer; 
}
.THIS .mandatory-fields{
    padding:0 0 20px;
}
.THIS .confirmation-message {
    text-align: center;
    padding: 50px 0px;
}
.THIS .confirmation-content {
    text-align: left;
    padding-top: 30px;
}
.THIS .confirmation-content ol {
    list-style: decimal;
    margin-left: 15px;
    padding: 10px 0px 15px;
}
.THIS .confirmation-content ul {
    list-style: initial;
    padding-left: 5px;
}
.THIS .confirmation-content ol ul li {
    margin-left: 15px;
}