.THIS img{
    height: 35px;
}
.THIS.dashboard-wrapper{
    padding:1.5rem 7.5rem; 
}
.THIS .table-btn button, .THIS .table-btn a{
    font-size:0.8125rem;    
}
.THIS .table-edit{
    margin-bottom:0.25rem;
}
.THIS .table-name{
    font-size:1.25rem;
    font-weight:600;
    color:t(LnGFormTitleColor);
}
.THIS .status-cell{
    display:flex;
    flex-direction:row;
}
.THIS .label-style{
    font-weight:bold;   
    
}
.THIS .field-style.row-margin{
    padding-bottom:0;
}
.THIS .empty-state{
    margin-top:1rem;
}
.THIS .bottom-border{
    border-bottom: 1px solid #d4d4d4; 
}
.THIS .table-border{    
    border: 1px solid #d4d4d4;    
    height:100%;
}
.THIS .tabs-wrapper .slds-tabs_default__nav{
    border-bottom: solid 2px t(actionPanelBG);
}
.THIS .table-scroll {
    max-width:100%;
    max-height:100%;
    overflow:auto;
}
.THIS .bottom-border .row-margin{
    margin-bottom :0;
} 
.THIS .text-style{
    font-weight: bold;
}
.THIS .text-size{
    font-size: 12px;
}
.THIS .comp-desc{
    padding:16px 16px 0;
}
.THIS .widget{
    /*background-color:t(LnGWhite); */
    /*border : solid 1px t(LnGWhite); */
    /*border-radius:8px;*/
    /*padding:2rem;*/
}
.THIS .app-btn{
    float: right;
    background: t(LnGPrimaryColor);
    border-radius: 1.25rem;        
    text-align: center;
    font-size: 1rem;
    padding:0.25rem 1rem;
}
.THIS .app-btn a{
    color:t(LnGWhite);
}
.THIS .b-bottom{
    border: 1px solid t(LnGFormGray);  
    margin-bottom:1rem;
    background-color:t(LnGWhite);
    padding: 0.5rem 0;
}
.THIS .view-more{
    text-align: right;
    padding: 55px 10px;
}
.THIS .col{
    color: token(LnGFormGray);
    font-size: 1rem;
}
.THIS .header{    
    display: flex;
    align-items: center;
    justify-content: center;    
}
.THIS .app{
    text-transform : uppercase;
    font-weight:bold;
    font-size:1rem;
    color: t(LnGPrimaryColor);
}
/*.THIS .widget{
padding: 10px;
}*/
.THIS .content{
    height: 105px;
    padding: 0 20px;
}
.THIS .fontSize{
    font-size: 14px;                                   
}                                                                       
.THIS hr{
    width: -webkit-fill-available;
    border-top: .5px solid #d4d4d4;
    margin: 1px;                                    
}
.THIS .bottom-card-font-size{
    font-size: 14px; 
    color:t(LnGFormTitleColor);
}
.THIS .datacellId-fontBorder{
    font-size: 12px;
}
.THIS .view-text{
    color:t(LnGPrimaryColor);
}
.THIS .down-btn-wid{
    color:t(LnGPrimaryColor);
    border:solid 1px t(LnGPrimaryColor);
    border-radius:25px;        
}
.THIS .btn-wrapper{
    padding:1rem 1rem 0;
}
.THIS .license-details-wrapper{
    padding-top:1.5rem;
}
.THIS .renew-btn{
    display:flex;
    justify-content:flex-end;
}
.THIS .tab-style{
    padding-top:0;
}
.THIS .table-name{
    padding:1rem 0;
    font-size:1rem;
}
.THIS .info-date{
    text-align:right;
}
.THIS .field-style{    
    padding-bottom:1rem;
    font-size:1rem;      
    color:t(LnGFormTitleColor);
    display:flex;
}
.THIS .field-style.lic-details{
    display:flex;
}
.THIS .lic-details-wrapper{
    padding:1rem;
}
.THIS .label-style{
    padding-right:0.5rem;
}
.THIS .breadcrumb-style, .THIS .slds-breadcrumb__item > a{      
    color:t(LnGFormTitleColor);    
}
.THIS .slds-breadcrumb__item{
    display:flex;
    align-items:center;
}
.THIS .prof-data-wrapper{
    padding-top:40px;
}
.THIS .slds-table_cell-buffer tr>td:first-child{
    padding-left:2rem;
}
.THIS .tabs-wrapper{
    padding-top:1.25rem;
}
.THIS .header-wrapper{
    padding-top:1.5rem;
}
.THIS .table-height{
    height:auto;
}
.THIS .screen-title{
    font-size:1.875rem;
    color:t(LnGFormTitleColor);
    font-weight:600; 
    line-height:26px;
}
.THIS .pagination-wrapper{
    margin-top:1.5rem;
}
.THIS .breadcrumb-nav{
    padding-top:1rem;
}
.THIS .help-text-wrapper{
    display:flex;    
}
.THIS .help-text-wrapper .slds-form-element__icon{
    padding-top:0;
}
.THIS .add-licensee{
    display:flex;
    justify-content:flex-end;
}
.THIS .amr-wrapper{
    align-items:normal;
}
.THIS .header-details .field-style{
    width:30%;
    margin-right:1rem;
}
.THIS .amr-wrapper .nav-links{
    width:100%;
}
@media (max-width: 30em)
    {
    .THIS .slds-small-size_1-of-1, .THIS .slds-small-size--1-of-1 {
        width: 100%;
    }
    .THIS .content .slds-small-size_1-of-4, .THIS .content .slds-small-size--1-of-4 {
        width: 25%;
        word-break: break-word;
    }
    .THIS .view-more {
        text-align: right;
        padding: 19px 10px;
    }
    .THIS .app-btn{
        float:none;
        margin-top:0.5rem;
    }
    .THIS .tabs-wrapper .slds-tabs_default__overflow-button{
        display:inline-flex;
    }
    
}
@media only screen and (max-width: 767.9px){
    .THIS.dashboard-wrapper{
        padding:1rem;
    }
    .THIS .license-details-wrapper{
        padding-top:1.5rem;
    }
    .THIS .breadcrumb-style{
        font-size:0.75rem;
    }
    .THIS .user-info-wrapper{
        border:solid 1px t(grayBorder);
    }
    .THIS .status-cell{
        flex-direction:column;
    }
    .THIS .slds-table_cell-buffer tr>td:first-child{
        padding-left:0.75rem;
    }
    .THIS .amr-wrapper{
        flex-direction:column-reverse;
    }
    .THIS .field-style.row-margin{
        margin-bottom:0.5rem;
    }
    .THIS .action-link{
        color:t(LnGFormTitleColor);
        font-weight:600;
    }
    .THIS .actions-wrapper{
        margin-bottom:1rem;
        text-align:right;
    }
    .THIS .header-details .field-style{
        width:auto;        
    }
    
    
}
@media only screen and (min-width: 768px) and (max-width: 1023px){
    .THIS.dashboard-wrapper{
        padding:1.5rem 5.5rem;
    }
}