.THIS .icon-check{
    fill: #0070d2;
} 

.THIS .slds-media__figure {
    padding-right: 0.5rem;
}

.THIS.slds-listbox__item .slds-listbox__option:focus,
.THIS.slds-listbox__item .slds-listbox__option:hover,
.THIS.slds-listbox__item .slds-listbox__option.slds-has-focus,
.THIS.slds-listbox__item .slds-listbox__option:focus,
.THIS.slds-listbox__item .slds-listbox__option:hover,
.THIS.slds-listbox__item .slds-listbox__option.slds-has-focus{
    background-color: rgba(100, 187, 227, 0.2);
}