.THIS.footerWrapper{
    background: t(LnGFooterColor);
    padding:0.25rem 5rem;
    position:relative;
    bottom:0;
    width:100%;
}
.THIS .botNav{
    display:flex;
    justify-content:flex-end;
    flex-direction:row;
}
.THIS .botNav .footerList{
    display:flex;      
}
.THIS .footerListLink{    
    font-size: 0.8125rem;
    color:t(actionPanelBG);   
    display: flex;
    align-items: center;
    /*font-family:'Merriweather-Regular'; */
}
.THIS .footerListLink img{
    width:0.75rem;
    margin-left:0.25rem;    
}
.THIS .footerListLink.copyright{
    color:t(LnGFormTitleColor);
}
.THIS .footerListItem{
    padding:0 0.5rem;
    margin:0;
    border-right:solid 1px t(fieldclr);
}
.THIS .footerListItem:first-of-type{
    padding-left:0;
}
.THIS .footerListItem:last-of-type{
    padding-right:0;
    border-right:none;
}
.THIS .footerListItem:last-child{
    padding-right:0;
}
@media t(mqSmall){
    .THIS .footerList{
        flex-direction:column;
        width:100%;
        align-items:center;
    }
    .THIS .footerList li{
        width:100%;
    }
    .THIS .botNav{
        justify-content:center;
    }
    .THIS.footerWrapper{
        padding:0.25rem 1rem;
        background: none;
    }
    .THIS .footerListItem{
        padding:0.5rem 0;
        margin:0;
        border-right:none;
        border-top: solid 1px token(navmenudevider);
    }
    .THIS .footerListItem:last-of-type{
        padding-bottom:0;
        border-bottom:none;
    }
    .THIS .footerListItem:first-of-type{
        padding-top:0;
        border-top:none;
    }
    .THIS .footerListLink{
        justify-content:center;
    }    
}