.THIS.footerWrapper{
    background: t(LnGFooterColor);
    padding:0 5rem;
    position:relative;
    bottom:0;
    width:100%;
}
.THIS .botNav{
    display:flex;
    justify-content:flex-end;
    flex-direction:row;
}
.THIS .botNav .footerList{
    display:flex;      
}
.THIS .footerListLink{    
    font-size: 0.8125rem;
    color:t(actionPanelBG);   
    display: flex;
    align-items: center;
    /*font-family:'Merriweather-Regular'; */
}
.THIS .footerListLink img{
    width:0.75rem;
    margin-left:0.25rem;    
}
.THIS .footerListLink.copyright{
    color:t(LnGFormTitleColor);
}
.THIS .footerListItem{
    padding-right:1.875rem;
    margin:0;
}
.THIS .footerListItem:last-child{
    padding-right:0;
}