@font-face{
    font-family:'NotoSansTC-Regular';
    src:url('/resource/Noto_Sans_TC/Noto_Sans_TC/NotoSansTC-Regular.otf');
}
.THIS.footerWrapper{
    background: t(LnGFooterColor);
    padding:0 5rem;
    position:relative;
    bottom:0;
    width:100%;
}
.THIS .botNav{
    display:flex;
    justify-content:flex-end;
    flex-direction:row;
}
.THIS .botNav .footerList{
    display:flex;      
}
.THIS .footerListLink{    
    font-size: 0.625rem;
    color:t(actionPanelBG);    
}
.THIS .footerListItem{
    padding-right:1.875rem;
    margin:0;
}
.THIS .footerListItem:last-child{
    padding-right:0;
}