.THIS.content-wrapper{
    margin:2rem 7.5rem;
}
.THIS.slds-wrap{
    padding:0 0 20px 0;
}
.THIS .devide-list .field-item{
    width:100%;
}
.THIS .field-item .uiOutputRichText{
    font-size:t(fieldlabelsize);
    color:t(sentenceclr);
    
}
.THIS .uiInputTextArea{
    border:1px solid #5b616b;
  
    
}
.THIS .field-item .revAndSubCompletionFont .uiOutputRichText{
    font-size:t(fieldlabelsize);
    color:t(fieldclr);
}
.THIS label{
    font-size: 16px;
}
.THIS .hiddenLabel label{
    display:none;
    
}
.THIS .slds-form-element__label{
    font-size: 14px; 
    color:t(LnGFormGray);
    word-break: normal;
    overflow-wrap: normal;
}
.THIS .DeclrtnWidth.slds-form-element__control{
    width:auto;
}
.THIS .sectionwidth{
    width: 100%;
    height: 30px;
    border-bottom: .5px solid #d6d7d9;
    margin-bottom: 1rem;   
}
.THIS .sectiondetail{
    margin: 0 0 1.5rem;    
    color: t(LnGFormTitleColor);
    
}
.THIS .section-wrapper{
    width:100%;
}
.THIS .slds-radio .slds-form-element__label{
	font-size: 14px;
    color: token(LnGFormTitleColor);
}
.THIS .slds-checkbox .slds-form-element__label{
	font-size: 14px;
    color: token(LnGFormTitleColor);   
    
}
.THIS .slds-file-selector__dropzone{
    border:none;
}
.THIS .slds-checkbox .slds-checkbox_faux{
    width:20px;
    height:20px;
}
.THIS .slds-form-element__control .slds-radio{
    display : inline-block !important;
}
.THIS .slds-form-element__legend{
	font-size: 14px;
    font-weight: normal;
    color:t(LnGFormGray);
}
.THIS.page-info{
	color: token(blue);
    font-size: 25px;
}
.THIS .field-item{
    padding-left: 0;
    padding-bottom: 8px; 
}
.THIS .field-item span{
    font-size:t(fieldlabelsize);
}
.THIS .fileupload .slds-form-element__label{
    margin: 10px;
}
.THIS.button-section{
    width: -webkit-fill-available;
    padding: 25px;
    margin-left: auto;
	text-align: -webkit-auto;
    width: 90%;
    margin: auto;
    padding: 10px;
    padding-left: 30px;
}
.THIS .attestation{
    padding-bottom:25px;
}
.THIS .pull-right{
    margin-left: auto;
    margin-right: 0;
}
.THIS .devide-list{
	display:inline-block;
    margin-right: .25em; 
}
.THIS .revAndSubErrorFont{
    padding: 8px 0 20px 0;
    color: red;
    font-size:14px;    
}
.THIS .revAndSubCompletionFont{
    margin:0.5rem 0 1.25rem;
    color: t(LnGFormTitleColor);
    font-size:0.875rem;  
    padding:0.25rem 0.5rem;
    background-color: rgb(233, 234, 236);    
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.THIS .slds-input{
    border-top:none;
    border-left:none;
    border-right:none;
    font-size:0.875rem;
    color:t(LnGFormTitleColor);
    border-radius:0;
    background:t(LnGBackgroundGray);
}
.THIS .field-item.attest{
    padding:10px 0 25px;
}
.THIS .attestBody{
    font-size:0.875rem;
    margin-bottom:1rem
}
.THIS .uiInput--default.uiInput--input{
    border:none;
    font-size:t(fieldlabelsize);
    color:t(LnGFormTitleColor);
    background-color: t(LnGWhite);    
    cursor: not-allowed; 
    padding-left: 0;
    font-weight:t(txtfontweight);
}
.THIS .reviewHeading{
    font-weight: 600;   
    color: t(fieldclr);
    font-size:t(fieldlabelsize);
}
.THIS .attValidationStyle{
    padding-left: 25px;
    padding-bottom: 25px;
    color: red;
    font-size:14px;
}
.THIS .slds-file-selector__text{
    font-size:14px;
}
.THIS .addRecbtn.cLnP_RecordEditForm{
    margin:10px 0 0 25px;
}
.THIS .LnP_Education__caddRecord{
    padding:10px 0 0 0;
}
.THIS .LnP_Education__caddRecord .addRecbtn,.THIS .LnP_Licensure_History__caddRecord .addRecbtn, .THIS .LnP_Employment__caddRecord .addRecbtn{
    padding:0 25px 25px;
}
.THIS .LnP_Licensure_History__caddRecord{
   padding:10px 0 0 0; 
}
.THIS .LnP_Employment__caddRecord{
   padding:10px 0 0 0;
}
.THIS .personal-info{    
    margin: 1.5rem 0;    
    display: flex;
    flex-direction: column;    
}

.THIS .btn-wrapper{  
    
    
    margin:20px auto;           
    display: flex;
    justify-content: space-between;
}

.THIS .page-heading{    
    margin: auto;     
}
.THIS .subheader{
    font-size:1.25rem;
    font-weight:600;
    color:t(LnGFormTitleColor);
}
.THIS .field-item.attest-fields{
    width:100%;
}
.THIS .btn-lnp{    
    color: #ffffff;
    padding: .25rem 1rem;    
}
.THIS .background-section{
    background-color:t(white);
    margin: 20px 0px;
    
}

.THIS .tile-wrap{
    display:flex;
    flex-wrap: wrap;
    padding:0 0 10px 0;
}
.THIS .tile-wrap .recordDetail{
    padding:15px;
}
.THIS .tile-wrap .recordDetail .row{
    width: 100%;
    justify-content: flex-end;
    display: flex;
    padding: 15px;
}
.THIS .mandatory-fields{
    color:rgb(194, 57, 52);;
}
.THIS .error{
    color:t(LnGErrorMsg);
}
.THIS .btn-lnp[disabled], 
.THIS .btn-lnp:disabled{
    background: t(LnGGrayText);
    border-color:t(LnGGrayText);
}
.THIS .personal-info .field-item > .slds-form-element__label:before {
    position: absolute;
    content: "*";
    color: red;
    top: 0;
    left: -5px;
}
.THIS .personal-info .field-item > .slds-form-element__label {
    position: relative;
}
.THIS .sectionwidth.headings{
    font-family:t(merrifontfamily);
}
@media t(mqSmall){
    .THIS.content-wrapper{
        margin:1rem;
    }
    .THIS .personal-info .field-item{
        padding-bottom:0.5rem;
    }
    .THIS .field-item{
        width:100%;
    }
    .THIS.content-wrapper .field-item .slds-form-element__control{
        width:100%;
    }
    .THIS .subheader{
        font-size:1rem;
    }
    .THIS .button-section.slds-m-top_xx-large{
        margin-top:1rem;
        display:flex;
        flex-direction:column;
    }
    .THIS .button-section button{
        width:100%;
    }
    .THIS .button-section .back-button{
        margin-bottom:0.5rem;
    }
    
}