.THIS .prof-link-title {
    font-size:1.25rem;
}
.THIS.prof-link-wrapper {
    padding:2rem 8rem;
}
.THIS .prof-link-title{
    font-size:1.25rem;
    font-weight:bold;
}
.THIS .spinner-style{
    height:100vh;
}
.THIS .token-wrapper{
    padding:1.5rem;
    border-radius: 4px;
    border: solid 1px #c5c5c5;
    margin-top: 1rem;
}
.THIS .new-wrapper{
    margin:4rem 0;
}
.THIS .ser-title.link-title{
    padding-bottom:0.5rem;
}
.THIS .ser-title{
    font-size: 1rem;
    font-weight: bold;
    padding-bottom:2rem;    
}
.THIS .activation-code .slds-form-element__control, .THIS .details-search .slds-form-element__control{
    width:50%;
}
.THIS .link-help{
	padding-bottom:0.5rem;
}
.THIS .button-wrapper{
    display:flex;
    justify-content:flex-end;
    margin-top:1.25rem;
}
.THIS .radio-style .slds-form-element__control{
    display:flex;
}
.THIS .radio-style .slds-radio{
    margin-right:8rem;
}