@font-face{
    font-family:'NotoSerif-Bold';
    src:url('/resource/Noto_Serif/Noto_Serif/NotoSerif-Bold.ttf');
}
@font-face{
    font-family:'NotoSerif-Regular';
    src:url('/resource/Noto_Serif/Noto_Serif/NotoSerif-Regular.ttf');
}
@font-face{
    font-family:'SourceSansPro-Regular';
    src:url('/resource/Source_Sans_Pro/Source_Sans_Pro/SourceSansPro-Regular.ttf');
}
.THIS.main-wrapper { 
    margin-bottom:0.5rem;
    padding:2rem 2.5rem;
   	border-radius: 8px;
  	box-shadow: 3px 3px 12px 0 rgba(208, 208, 208, 0.5);
  	background-color: rgba(255, 255, 255, 0.9);
}
.THIS .address-header{
    padding-bottom:1rem;
}
.THIS .address-title{
    font-family:'NotoSerif-Regular';
    font-size:1.125rem;
    color:t(LnGFormTitleColor);
    padding-bottom:1rem;
    font-weight:bold;
}
.THIS .address-subtitle{
    font-family:'SourceSansPro-Regular';
    font-size:1rem;
    color:t(LnGFormGray);
    padding-bottom:1.5rem;
}
.THIS .address-line{
    display:flex;
    justify-content:space-between;
    font-size:1rem;
}
.THIS .address{
    font-family:'SourceSansPro-Regular';
    color:t(LnGFormGray);
}
.THIS .add-address{
    color:t(LnGPrimaryColor);
    font-weight: 600;
}
.THIS .arrow-style{     
    position:relative; 
    cursor:pointer;
}
.THIS .left{    
    left:0;
    padding-top:0.5rem; 
    transform:rotate(90deg);
}
.THIS .right{    
    right:0;
    transform:rotate(-90deg);
    padding-top:0.5rem;  
    
}
.THIS .arrows-wrapper{
    display:flex;
    position:relative;
    align-items:center;
}
.THIS .address-cards{
    padding: 0.75rem 1.5rem;
    border-left: solid 1px #eff1ff;
    border-right: solid 1px #eff1ff;
    overflow-x:hidden;
}