.THIS .page-header{
    font-family: t(merrifontfamily);
    font-size: 30px;
    font-weight: 600;
    font-style: t(txtfontstyle);
    line-height: 1.48;
    color: t(LnGFormTitleColor);
    padding-bottom:20px;
}
.THIS .heading{
    font-family: t(merrifontfamily);
    font-size: 20px;
    font-weight: t(txtfontweight);
    font-style: t(txtfontstyle);
    line-height: normal;
    color: t(fieldclr);
    padding-bottom: 20px;
}
.THIS .heading.pad{
    padding-bottom: 10px; 
}
.THIS.biz-link-wrapper {
    margin:2rem 7.5rem;
}
.THIS .biz-link-title{
    font-size:1.25rem;
    font-weight:bold;
}
.THIS .token-wrapper{
    padding:1.5rem;
    border-radius: 4px;
    border: solid 1px #c5c5c5;
    margin-top: 1rem;
}
.THIS .new-wrapper{
    margin:30px 0;
}
.THIS .ser-title.link-title{
    padding-bottom:0.5rem;
}
.THIS .ser-title{
    font-size: 1rem;
    font-weight: bold;
    padding-bottom:2rem;    
}
.THIS .activation-code .slds-form-element__control{
    width:50%;
}
.THIS .link-help{
    line-height: 1.2;
    padding-bottom:0.5rem;
}
.THIS .slds-button:disabled{
    background: t(LnGGrayText);
}
.THIS .proceed-btn{
    width: 130px;
    height: 42px;
}
.THIS .sentenceflex{
    display:flex;
}
.THIS .txtStyle{
    color:t(primary);
}
.THIS .txtclr{
    color:t(gray);
}
.THIS .button-wrapper{
    display:flex;
    justify-content:flex-end;
    margin-top:1.25rem;
}
.THIS .btnAlign{
    text-align:right;
    margin-top:20px;
}
.THIS .test{
    height:42px;
   
}
/*.THIS .radio-style .slds-form-element__control{
    display:flex;
}*/
.THIS .emailInp{
    display:inline-block
}
.THIS .flexdisp{
    display:flex;
}
.THIS .itemBtm{
    padding-top:10px;
}
.THIS .flexdisp .slds-form-element__label{
    font-weight:bold;
}
.THIS .radio-style .slds-radio{
    margin-right:8rem;
}
.THIS .licensecon .slds-form-element__control{
    width:50%;
}
.THIS .licensecon .slds-form-element{
    margin-bottom: 0.8rem;
}
.THIS .call-option{
    margin-top:1rem;
}
@media t(mqSmall){
    .THIS.biz-link-wrapper {
        margin:1rem;
    }
    .THIS .activation-code .slds-form-element__control{
        width:100%;
    }
    .THIS .licensecon .slds-form-element__control{
        width:100%;
    }
    .THIS .page-header {
        font-size:20px;
    }
    .THIS .heading {
        font-size:16px;
    }
}