@font-face{
    font-family:'SourceSansPro-SemiBold';
    src:url('/resource/Source_Sans_Pro/Source_Sans_Pro/SourceSansPro-SemiBold.ttf');
}
@font-face{
    font-family:'SourceSansPro-Regular';
    src:url('/resource/Source_Sans_Pro/Source_Sans_Pro/SourceSansPro-Regular.ttf');
}
.THIS.main-wrapper {
    padding:0 5rem 3.25rem;   
}
.THIS .news-title a{
    text-decoration:underline;
    color: t(LnGTitleText);    
}
.THIS .news-title-wrapper{
    display:flex;
    align-items:center;
}
.THIS .news-main-title{
    padding-right:1rem;
    border-right: solid 1px #DADADA;
    font-family:'SourceSansPro-SemiBold';
    font-size:1.125rem;
    color:t(LnGTitleText);
}
.THIS .view-button{
    padding-left:1rem;
    font-family: 'SourceSansPro-Regular';
    font-size: 1rem;
    
}
.THIS .view-button a{
    text-decoration:none;
    color: t(LnGPrimaryColor);    
}
.THIS .news-main-wrapper{
    padding-top:1.25rem;
}
.THIS .news-wrapper:first-child{
    padding-left:0;    
    border-right: solid 1px #DADADA;
}
.THIS .news-wrapper:LAST-child{
    padding-right:0;
    border-left: solid 1px #DADADA;
}
.THIS .news-wrapper{
    padding:0 3.25rem;
}
.THIS .news-title{
    font-family: 'SourceSansPro-SemiBold';
    font-size: 1rem;	
    white-space:nowrap;
    overflow:hidden;
    text-overflow:ellipsis;
}
.THIS .news{
    font-family: 'SourceSansPro-Regular';
    font-size: 1rem;
    color: t(LnGGrayText);
    padding-top:1rem;
}
.THIS .read-more-wrapper{
    padding-top:0.5rem;
}
.THIS .read-more-text{   
    font-family:'SourceSansPro-Regular';
    font-size:1rem;
}
.THIS .link-style{
    color:t(LnGPrimaryColor);
    text-decoration:none;
}
@media screen and (max-width: 1279px) {
    .THIS .news-wrapper:first-child {
        padding-left:2rem;        
        border:none;
    }
    .THIS .news-wrapper{
        padding:0 0 2rem 2rem;
    }
    .THIS .news-wrapper:LAST-child{
        padding-right:0;
        padding-bottom:0;
        border:none;
    }
    .THIS.main-wrapper{
        padding:0 1.5rem 1.5rem;
    }
}