.THIS.feedback-wrapper{
    padding:1.25rem;
}
.THIS .star-wrapper {
    padding-bottom:0.5rem;
}
.THIS .feedback-title,.THIS .feedback-link{
    padding-bottom:1rem;
}
.THIS .link-wrapper a{
    word-break:break-word;
}
/* mobile style */
@media only screen and (max-width:767.9px){
    .THIS .button-style{
        width : 100%;
        margin-bottom:0.5rem;
    }
    .THIS .slds-button + .slds-button{
        margin-left:0;
    }    
    .THIS .feedback-wrapper{
        padding:0.5rem;
    }
}