.THIS.lic-sel-wrapper{
    margin: 2rem 7.5rem;
}
.THIS .form-wrapper {
    padding : 2rem 2.25rem;
}
.THIS .application label:before{
    content: '*';
    color: #c23934;
    padding-right: 1px;
}
.THIS .card-wrapper p,.THIS .card-wrapper span,.THIS .card-wrapper li{
    color:t(fieldclr);
    font-size: token(fieldlabelsize);
}
.THIS .slds-radio .slds-form-element__label{
    padding-right: .5rem;
    padding-top: .25rem;
    margin-bottom: .125rem;
}

.THIS .appTypeFieldClass{
    width: 100%;
    margin-left: 46px;
    margin-top: 16px;
}
.THIS .slds-radio{
    display: inline;
}
.THIS .card-wrapper h2{
    font-weight:bold;
    padding-bottom:0.5rem;
    font-size: token(fieldlabelsize);
    color:t(fieldclr)
}
.THIS .page-title{
    font-weight:bold;
    font-size:16px;     
}
.THIS .proceed-btn-wrapper{
    display:flex;
    justify-content:space-between;
    margin:1.5rem 0;
}
.THIS .page-title-wrapper{
    padding-bottom:1rem;
}
.THIS .card-wrapper{
    border: solid 1px #b8b8b8;
    padding: 2rem;
}
.THIS .account-wrapper{
    margin-top:1.5rem;
}
.THIS .account-label{
    margin-bottom:1rem;
}
.THIS .slds-form-element__label, .THIS .app-type{
    font-size: 14px;
    color: t(fieldclr);
    font-weight:normal;
    padding-right:0;
    margin-bottom:0.25rem;
}
.THIS .slds-form-element__label{
    line-height:1.5;
}
.THIS .slds-input{
    outline:none;
    border : solid 1px t(LnGPlaceholderText);
    border-radius : none;    
}
.THIS .slds-input.slds-combobox__input{
    padding-left:5px;
    border-radius:0;
    font-size:14px;
    border : solid 1px t(gray);
    font-weight: token(btnfontweight);
}
.THIS .section-text{
    font-size: 24px;
}
.THIS .app-type-wrapper{
    margin:2rem 0;
}
.THIS .section-subtext{
    padding-top: 14px;
    color : t(LnGFormTitleColor);
    max-width:80%;
    font-size:14px;
}
.THIS .eli-ques:last-of-type{
    padding-bottom:0;
}
.THIS .eli-ques{
    padding-bottom:2rem;
}
.THIS input:hover{
    cursor:pointer;
}
.THIS .slds-radio__label .slds-form-element__label{
    font-weight:normal;
    color:t(LnGFormTitleColor);
}
.THIS .appMesDivClass{
    font-size:14px;
    font-weight: bold;
}
.THIS .slds-dropdown{
    max-height:200px;
}
.THIS #appTypeDiv{
    margin-left: 0;
}
.THIS .down-btn-wid{
    background: t(LnGPrimaryColor);
    color: t(LnGWhite);
    padding: 0.25rem 1rem;
    border-radius: 50px;
}
.THIS .app-name{    
    font-size: 14px;
    color : t(LnGFormTitleColor);
}
.THIS .app-ques{
    padding-bottom:2rem;
}
.THIS .questions{
    padding-bottom:2rem;
}
.THIS#proceedButtonDiv .slds-button_brand[disabled], 
.THIS#proceedButtonDiv .slds-button_brand:disabled, 
.THIS#proceedButtonDiv .slds-button--brand[disabled], 
.THIS#proceedButtonDiv .slds-button--brand:disabled{
    background: t(LnGGrayText);
}
.THIS .bullets{
    list-style:initial;
    margin-left: 15px;
}
.THIS .header-style{
    padding-bottom:1rem;
    font-size:1rem;
    font-weight:bold;
}
.THIS .proceed-btn{
    
    width: 130px;
    height: 42px;
    border-radius:5px;
}
.THIS .slds-input.slds-combobox__input:focus{
    box-shadow:none;
    border:1px solid #1b1c1a;
    font-weight: token(btnfontweight);
}
.THIS .slds-form-element__control{
    width:50%;
    clear:left;
    padding-left:0;
    margin-top:0.25rem;
}
.THIS .slds-form-element_horizontal:not(.slds-is-editing){
    padding:0;
}
.THIS .prof-choice{
    margin-top:1rem;
}

@media screen and (max-width:767.9px) {
    .THIS .form-wrapper{
        padding:16px;
    }
    .THIS .card-wrapper{
        padding:16px;
        margin-left:0;
    }
    .THIS .section-subtext{
        padding-bottom:16px;
        max-width:auto;
    }
    .THIS .slds-form-element__control{
        width:auto;
    }
    .THIS .down-btn-wid{
        width:100%;
    }
    .THIS .board-sel .slds-select_container:after{
        top:10px;
        right:30px;
    }
    .THIS .slds-select{
        border:none;
        border-radius:0;
        border-bottom : solid 1px t(LnGPlaceholderText);
        border-radius : none;    
    }
    .THIS .header-style{
        padding-bottom:10px;
    }
    .THIS .prof-choice{
        width:100%;
    }
    .THIS .proceed-btn{
        width:100%;
    }    
    .THIS .down-btn-wid {
        width: 100%;
    }
    .THIS.lic-sel-wrapper{
        margin: 1rem;
    }
    
}
.THIS .proceed-btn[disabled], .THIS .proceed-btn:disabled {
    background:t(LnGGrayText);
}
.THIS lightning-base-combobox-item[data-value*="Unlicensed"] {
    display: none;
}