.THIS.form-wrapper {
    padding : 2rem 2.25rem;
}
.THIS .appTypeFieldClass{
   width: 100%;
   margin-left: 46px;
   margin-top: 16px;
}
.THIS .slds-radio{
    display: inline;
}
.THIS .card-wrapper{
    border-radius: 8px;
    box-shadow: 0 0 15px 3px rgba(208, 208, 208, 0.5);
    padding: 30px 75px;
}
.THIS .slds-form-element__control{
    width:80%;
}
.THIS .slds-form-element__label, .THIS .app-type{
    font-size: 14px;
    color: t(LnGFormGray);
    font-weight:normal;
}
.THIS .slds-input{
    outline:none;
    border : solid 1px t(LnGPlaceholderText);
    border-radius : none;    
}
.THIS .slds-input.slds-combobox__input{
    padding-left:5px;
    border-radius:0;
    font-size:14px;
}
.THIS .section-text{
    font-size: 24px;
}
.THIS .app-type-wrapper{
    margin:2rem 0;
}
.THIS .section-subtext{
    padding-top: 14px;
    color : t(LnGFormTitleColor);
    max-width:80%;
    font-size:14px;
}
.THIS .eli-ques:last-of-type{
    padding-bottom:0;
}
.THIS .eli-ques{
    padding-bottom:2rem;
}
.THIS input:hover{
    cursor:pointer;
}
.THIS .slds-radio__label .slds-form-element__label{
    font-weight:normal;
    color:t(LnGFormTitleColor);
}
.THIS .appMesDivClass{
    font-size:14px;
    font-weight: bold;
}
.THIS .slds-dropdown{
    max-height:200px;
}
.THIS .proceed-btn{
    margin-top: 2rem;
    display:flex;
    justify-content:flex-end;
}
.THIS #appTypeDiv{
    margin-left: 0;
}
.THIS .down-btn-wid{
    background: t(LnGPrimaryColor);
    color: t(LnGWhite);
    padding: 0.25rem 1rem;
    border-radius: 50px;
}
.THIS .app-name{    
    font-size: 14px;
    color : t(LnGFormTitleColor);
}
.THIS .app-ques{
    padding-bottom:2rem;
}
.THIS .questions{
    padding-bottom:2rem;
}
.THIS#proceedButtonDiv .slds-button_brand[disabled], 
.THIS#proceedButtonDiv .slds-button_brand:disabled, 
.THIS#proceedButtonDiv .slds-button--brand[disabled], 
.THIS#proceedButtonDiv .slds-button--brand:disabled{
    background: t(LnGGrayText);
}