.THIS .label-hidden .slds-form-element__label {
   	display:none;
}
.THIS .field-item{
    padding-bottom:10px;
}
.THIS .pending-app-form{
    padding:40px;
}
.THIS .field-wrapper{
    justify-content:space-around;
    padding-bottom:20px;
}