/*@font-face{
    font-family:'SourceSansPro-SemiBold';
    src:url('/lightningwashington/resource/Source_Sans_Pro/Source_Sans_Pro/SourceSansPro-SemiBold.ttf');
}
@font-face{
    font-family:'SourceSansPro-Regular';
    src:url('/lightningwashington/resource/Source_Sans_Pro/Source_Sans_Pro/SourceSansPro-Regular.ttf');
}
@font-face{
    font-family:'NotoSansTC-Regular';
    src:url('/lightningwashington/resource/Noto_Sans_TC/Noto_Sans_TC/NotoSansTC-Regular.otf');
} */
.THIS.main-wrapper {
    padding:2.5rem 7.5rem;    
    /*color:t(LnGWhite);
    background-image:url(/lightningwashington/resource/LnP_Icons/LnP_Icons/main-background.png);
    background-position-y: 40%;
    background-repeat:no-repeat;
    position:relative;
    background-size:cover;
    left:0;
    position:relative;
    transition:left 0.5s; */
}
.THIS .show-item{
    color:t(linksColor);
    font-weight:600;
    display:flex;
    justify-content:space-between;
    align-items:center;
}
.THIS .license-list-wrapper{
    align-items:normal;
}

.THIS .outer-wrapper{
    display:flex;
    align-items:center;
}
.THIS .main-title{
    font-size: 2.1875rem;
    font-weight: bold;
    color: t(headerColor);
	padding-bottom:2rem;
}
.THIS .help-button-wrapper{
    margin-left:3rem;
    
}
.THIS .help-button{
    background: t(linksColor);
    border-radius: 4px;  
    padding:0.5rem;
    color:t(LnGWhite);
    border: solid 1px t(grayBorder);
    font-size: 1rem;
}
.THIS a.slds-button.help-button {
    display: block;
    background: t(linksColor);
    border-radius: 4px;
    padding: .25rem .5rem;
    outline: none;
    box-shadow: none;
    margin: 15px 0px;
    border: 0px;
}
.THIS .license-definition {
    padding:10px 0px 15px;
}
.THIS .help-button:hover{
    text-decoration:none;
}
.THIS .link-style{
    color: t(LnGWhite);
    text-decoration:none;
    
}
.THIS.moveToRight{  
    left:50vW;   
}
.THIS .license-needs-wrapper{    
    border: solid 1px t(grayBorder); 
    margin-bottom:1rem;
}
.THIS .license-needs-innerwrapper {
    border: solid 1px t(grayBorder); 
    margin:12px;
}
.THIS .license-header{
    color:t(headerColor);
    font-size:1.5rem;
    font-weight:600;
	padding-left:2rem;	   
}
.THIS .help-text{
    color:t(subHeader);
    font-size:1rem;
    font-weight:500;
    padding-left:2rem;
}
.THIS .license-header-wrapper{
    padding:2rem 0 1.5rem; 
    border-bottom: solid 1px t(grayBorder);
}
.THIS .list-col{
    padding: 1rem 2rem 0;
    margin-top: 2.5rem;   
    border-right: solid 1px t(grayBorder);    
}
.THIS .list-col:last-of-type{
    border-right:none;
}
.THIS .license-item{
    padding-bottom:1rem;
}
.THIS .license-link.inactive-link:hover{
    text-decoration:none;
}
.THIS .license-link.inactive-link{
    pointer-events:none;
}
.THIS .license-link{
    color:t(headerColor);    
    font-weight:600;
    font-size:1rem;
    
}
.THIS .active-link.license-link{
    color:t(linksColor);
    font-weight:normal;
}
.THIS .action-item{
    margin:4rem 2rem 2rem;
    display:flex;
    justify-content:flex-end;
    align-items:center;
}
.THIS .footer-link{
    margin-right:2rem;
    color:t(linksColor); 
    font-size:1rem;
}
.THIS .home-button{
    padding: 0.625rem 1.875rem;    
    font-size:1rem;  	
}
.THIS .empty-state{
    font-size:1rem;
    color:t(LnGFormTitleColor);
	text-align:center;    
}

@media screen and (max-width:1279.9px){
    .THIS.main-wrapper:after{
    	display:none;
    
}
}
@media screen and (max-width: 1023px) {
    .THIS.main-wrapper{
        padding:5rem 2rem;
    }
  	.THIS .main-title{        
        padding-bottom:1rem;
    } 
    .THIS .sub-title{
        width:100%;
        text-align:center;
    }
    .THIS .outer-wrapper{
        padding-bottom:1rem;
    }
    .THIS .search-input{
        width:100%;
    }
    .THIS .sub-title {
        max-width: none;
    }
    .THIS .search-input{
        max-width: none;    
    }
    .THIS .help-button {
        margin: 1.5rem auto 0px;
        max-width:100%;
    }
}

@media (max-width:767.9px) {
    .THIS.main-wrapper{
        padding:1rem;
    }
    .THIS .main-title{
        font-size:1.25rem;
        padding-bottom:1.625rem;
    }
    .THIS .license-header-wrapper{
        padding:1.5rem 0 1rem;
    }
    .THIS .license-header{
        font-size:1.125rem;
        padding: 0 1.5rem 0.25rem 1rem;
        
    }
    .THIS .help-text{
        font-size:0.875rem;
        padding: 0 1.5rem 0 1rem;
    }
    .THIS .action-item{
        margin:1.5rem 1rem;
        display:block;
        text-align:center;
    }
    .THIS .footer-button{
        margin-top:1rem;
    }
    .THIS .footer-link{
        margin-right:0;        
    }
    .THIS .home-button{
        width:100%;
    }
    .THIS .list-col{
        padding:0;
        margin:0;
    }
    .THIS .license-item{
        padding:0.75rem 1rem;
        border-bottom: solid 1px t(grayBorder);
    }
    .THIS .up-arrow{
        transform:rotate(180deg);
    }
    .THIS .dropdown{
        width:9px;
    }
    
}