.THIS.info-outer-wrapper{
    margin:2rem 7.5rem;
}
.THIS h1{
    font-size:1.875rem; 
    margin-bottom:1.5rem;
}
.THIS h1, .THIS h2{
    font-weight:bold;
    color:t(LnGFormTitleColor);
}
.THIS h2{
    font-size:1.25rem;
}
.THIS p{
    font-size:1rem;
}
.THIS h2, .THIS p{
    margin-bottom:1rem;
}
.THIS .info-wrapper{
    /*padding:1.5rem 2rem;*/
    border: solid 1px #d6d7d9;
}
.THIS ul{
    list-style-type:disc;
}
.THIS .list-style{
    margin-left:2rem;
}
.THIS ol{
    list-style-type:decimal;
}
.THIS ul, .THIS ol{
    margin-left:1rem;
    margin-bottom:1rem;
}
.THIS ul li, .THIS ol li{
    margin-bottom:0.25rem;
}
.THIS li ul{
    margin-bottom:0;
}
.THIS .btn-wrapper{
    margin-top:1.5rem;
    display:flex;    
}
.THIS .list-wrapper{
    margin-bottom:1rem;
}
.THIS .image-wrapper{
    display: flex;
    justify-content: flex-end;
}
.THIS .saw-image{
    max-height:18rem;
}
@media t(mqSmall){
    .THIS.info-outer-wrapper{
        margin:1rem;
    }
    
}