.THIS.relation-add .slds-float_right, .THIS.add-association .slds-float_right{
    float:unset;
    display:flex;
    justify-content:flex-end;
}
.THIS .relation-add{
    margin-top:1.5rem;
}
.THIS.add-association{
    margin-top:1.5rem;
}