.THIS .customSpinner {

}
.THIS .slds-spinner_container {
    height: 40%;
}
.THIS .customDiv{
    text-align: -webkit-center;
}
.THIS .modal-footer{
    display: none;
}
.THIS .cuf-publisherCancelButton {
    /*margin-top: 32px;*/
}
.THIS .cuf-publisherCancelButton::hover {
    /*background-color: red;*/
}