.THIS.page-width {
    width: 82%;
    max-width: 1200px;
    margin: 0px auto;
    padding-bottom:60px;
}
.THIS .section-one-button-container{
    padding-bottom:60px;
}
.THIS .page-header h1{
    font-family: t(publicSansfontfamily);
    font-size: 20px;
    font-weight: 600;
    font-style: t(txtfontstyle);
    line-height: 1.48;
    color: t(LnGFormTitleColor);
}
.THIS .heading{
    font-family: t(publicSansfontfamily);
    font-size: 20px;
    font-weight: t(txtfontweight);
    font-style: t(txtfontstyle);
    line-height: normal;
    color: t(fieldclr);
}
.THIS .field-size label, .THIS .field-size label span, 
.THIS .screen-one .section-form-container label,
.THIS .screen-one .section-form-container .slds-form-element__label{
    font-size:15px;
    font-weight:600;
    color: t(LnGFormTitleColor);
}
.THIS .field-size select,
.THIS .field-size input.slds-input,
.THIS .field-size div select,
.THIS .field-size div input.slds-input{
    font-size:17px;
    font-weight:200;
}
.THIS .licenseinp input::-webkit-input-placeholder,
.THIS .field-size div input::-webkit-input-placeholder{
  	font-size:17px;	
}
.THIS .field-size div input::-moz-placeholder {
  	font-size:17px;
}
.THIS .field-size div input:-ms-input-placeholder {
  	font-size:17px;
}
.THIS .field-size div input:-moz-placeholder {
  	font-size:17px;
}
.THIS .section-one-button-container button{
    font-size:17px;
    padding:5px 25px;
}
.THIS .screen-two .headerWrap{
    padding-top: 35px;
}
.THIS .headerWrap span.sub-header {
    font-size: 20px;
}
.THIS .search-details{
    line-height:1;
}
.THIS .button-borders a,.THIS .slds-th__action{
    height: 18px;
    font-family: token(publicSansfontfamily);
    font-size: t(senfontsize);
    font-weight: t(btnfontweight);
    font-style: t(txtfontstyle);
    line-height: normal;
    color:token(LnGFormTitleColor);
    box-shadow:none;
    background:transparent;
}
.THIS .breadcumb a{
    font-size:14px;
    font-weight:500; 
    color: #1b1c1a;
    font-weight: bold; 
}
.THIS .slds-button.slds-button_neutral.modify-btn {
    height:auto;
    line-height:32px;
    padding-bottom:0px;
    border:0px;
}
.THIS .field-size{
   display:block;
   padding:1rem;
    margin:0;
}
.THIS .slds-pill__action{
    border:none;
}
.THIS .screen-two .slds-form-element__label{
    float:none;
}
.THIS .screen-two .slds-form-element__control{
    padding-left:0;
    display:inline-block;
}
.THIS .lightningBreadcrumbs{
   	padding: 5px 0;
    line-height: 1;  
}
.THIS .sub-header, .THIS .sub-section,.THIS .subheader span{
    color: t(fieldclr);
}
.THIS .screen-two .slds-table_header-fixed_container{
    padding-top:0;
}
.THIS .slds-button_icon-bare .slds-button__icon{
    display:none;
}
.THIS .slds-text-title_caps{
    text-transform:none;
}
/**table styles**/
.THIS .slds-is-sortable .slds-th__action:hover,.THIS .slds-is-sortable .slds-th__action:focus{
    background: #d6d7d9;
}
.THIS .slds-table th.slds-has-focus,.THIS .slds-has-focus,.THIS .slds-table th:focus{
    box-shadow:none;
    
}

.THIS table.slds-table_header-fixed tbody tr:first-child th, 
.THIS table.slds-table_header-fixed tbody tr:first-child td{
    
   
    border-top: solid 1px #5b616b;
}

.THIS .slds-cell-fixed{
        background: #d6d7d9;
    min-height:4rem;
    position:static;
      
}
.THIS .slds-has-focus .slds-th__action{
     background: #d6d7d9;
}
.THIS .slds-table thead tr th:last-child div{
    justify-content: center;
    align-items: center;
    display: flex;
}

/*.THIS .search-result .slds-table_header-fixed_container.slds-scrollable_x{
background: t(sectionBG);
}*/
.THIS .search-result .slds-table_header-fixed_container.slds-scrollable_x{
    overflow-x:hidden;
} 
/*.THIS .search-result .slds-table th,.THIS .search-result .slds-table td {
padding: 4px 5px;
}*/
.THIS .slds-table tbody tr:hover td,.THIS .slds-table tbody tr:hover th{
     background: t(white);
}
/**table styles**/
.THIS .search-result .slds-th__action,.THIS .search-result .slds-table_header-fixed_container.slds-scrollable_x{
    background: t(sectionBG);
}
.THIS .search-result .slds-table_header-fixed_container.slds-scrollable_x{
    overflow-x:hidden;
} 
.THIS .search-result .slds-table th,.THIS .search-result .slds-table td {
    padding: 4px 5px;
}

.THIS .color-black {
    background-color: t(black);
    border-color: t(black);
}
.THIS .breadcumb a {
    color: t(black);
}
.THIS .color-white{
    color: t(white);
}
.THIS .box-border{
    border-radius: .25rem;
    border: 1px solid #d4d4d4;
}
.THIS .slds-is-active{
    background: #d4d4d4;
}
.THIS .button-border{
    border: none;
    color: black;
    box-shadow: none;
    text-decoration: underline;
}
.THIS .buttons-right{
    text-align: right;
}
.THIS .button-float{
    float: right;
}
.THIS .button-borders .slds-button{
    border: none;
    color: black;
    box-shadow: none;
    text-decoration: underline;
    background:transparent;
}
.THIS .bottom-border{
    border-bottom: 1px solid #d4d4d4; 
}
.THIS .table-border{
    border-radius: .25rem;
    border: 1px solid #d4d4d4;
}
.THIS .bottom-border .row-margin{
    margin-bottom :0;
}
.THIS .screen-three .label-style{
    font-size: 16px;
    font-weight: bold;
}

.THIS .transform-text{
    text-transform: capitalize;
    letter-spacing: 0px;
}
.THIS .pagination-wrapper {
    text-align:center;
}
.THIS .slds-is-active .slds-tabs_default__link{
    text-decoration: none;
}
.THIS table thead th span.slds-truncate {
    white-space: pre-wrap;
    word-break: break-word;
}

.THIS .fieldSize{
    padding:0rem;
}
.THIS .slds-table thead th{
    padding: 12px 6px;    
}
.THIS .slds-table tbody td {
    padding: 24px 6px; 
}
.THIS table.slds-table.slds-max-medium-table_stacked.slds-table_bordered thead th div {
    text-align: left;
}
.THIS .buttons {
    display: flex;
    justify-content: space-between;
}
.THIS .screen-three .buttons-left {
    text-align:left;
}
.THIS .screen-three .buttons-right{
    text-align:right;
}
@media t(mqSmall){ 
    .THIS.page-width {
        width: 90%;
    }
    .THIS .field-style{
        padding: 0 0 1.5rem;
    }
    .THIS .screen-three .field-style{
        padding-bottom:1rem;
    }
    .THIS .screen-three .header-wrapper .field-style:last-of-type{
        padding-bottom:none;
    }
    .THIS .field-style .slds-size_small {
        width: 100%;
    }
    .THIS .field-style .select-box {
        padding-right: 0; 
    }
    .THIS .section-header,
    .THIS .section-form-container {
        margin-left: 0;
        margin-right: 0;
    }
	.THIS .slds-grid {
        flex-wrap:wrap;    
    }
    .THIS .section-one-button-container {
        width: 100%;
        padding-left: 0;
        padding-right: 0;
        display: flex;
        flex-direction: column-reverse;
    }

    .THIS .submit-btn {
        margin-left: 0;
        height: 42px;
        margin-bottom: .5rem;
    }
    .THIS .headerWrap > span {
        display: block;
    }
    .THIS .headerWrap span button {
        padding: 0px;
    }
    .THIS .headerWrap span.sub-header {
        line-height: 1.2;
        padding-bottom: 15px;
    }
    .THIS .slds-form-element_horizontal.slds-form-element.slds-size_4-of-12 {
        width: 100%;
    }
    .THIS .slds-size_1-of-3.slds-form-element_horizontal.slds-form-element {
        width: 100%;
    }
    .THIS .bottom-border .row-margin {
        margin-bottom: 0.5em;
    }
    .THIS table.slds-table, .THIS table.slds-table {
        width: 100% !important;
        border: 0;
    }
    .THIS .slds-scrollable_y {
        width: 100% !important;
    }
    .THIS table.slds-table thead, .THIS table.slds-table thead {
        position: absolute!important;
        margin: -1px!important;
        border: 0!important;
        padding: 0!important;
        width: 1px!important;
        height: 1px!important;
        overflow: hidden!important;
        clip: rect(0 0 0 0)!important;
    }
    .THIS table.slds-table tr, .THIS table.slds-table tr {
        display: block;
        border: 1px solid #d4d4d4;
        border-radius: 5px;
        margin: 15px 0px;
    }
    .THIS .slds-table_header-fixed_container::before {
        border: 0px;
    }
    .THIS table.slds-table .slds-button {
        height: auto;
        padding: 0px;
        font-weight: 200;    
    }
    .THIS table.slds-table:not(.slds-no-row-hover) tbody tr:hover td, .THIS table.slds-table:not(.slds-no-row-hover) tbody tr:hover th, .THIS table.slds-table:not(.slds-no-row-hover) tbody tr:hover td, .THIS table.slds-table:not(.slds-no-row-hover) tbody tr:hover th {
        background-color: inherit!important;
        box-shadow: none!important;
    }
    .THIS table.slds-table th, .THIS table.slds-table td, .THIS table.slds-table th, .THIS table.slds-table td {
        display: block;
        padding: 8px 15px;
        max-width: 100%;
        width: 100%;
        clear: both;
        white-space: normal;
        overflow: hidden;
        text-align: left;
        border-top: 0px;
    }
    .THIS table.slds-table th, .THIS table.slds-table th {
        border-top: 0;
        border-right:none;
    }
    .THIS table.slds-table td:before, .THIS table.slds-table th:before, .THIS table.slds-table td:before, .THIS table.slds-table th:before {
        padding-bottom: .25rem;
    }
    .THIS table.slds-table th:before, .THIS table.slds-table td:before, .THIS table.slds-table th:before, .THIS table.slds-table td:before {
        font-size: .75rem;
        line-height: 1.25;
        color: #696969;
        text-transform: uppercase;
        letter-spacing: .0625rem;
        display: block;
        padding-bottom: .25rem;
        content: attr(data-label);
    }
    .THIS .slds-table_header-fixed_container {
        padding: 0px;
    }
    .THIS table.slds-table_header-fixed tbody tr:first-child th, 
    .THIS table.slds-table_header-fixed tbody tr:first-child td{
        border-top: 0px;  
    }
    .THIS .buttons {
        display: block;
    }
    .THIS .screen-three .buttons-left {
        text-align:right;
        margin-bottom:10px;
    }
    .THIS .screen-three .buttons-right{
        text-align:right;
    }
}
.THIS span.slds-truncate {
    text-overflow: initial;
    white-space: normal;
}
.THIS .button-borders a {
    padding: 0px 5px;
    text-align: left;
}
.THIS .slds-table thead tr th:last-child div {
    justify-content: flex-start;
}
.THIS input, .THIS select {
    line-height: 42px;
}
.THIS .slds-select_container:before{
    top:12px;
}
.THIS .slds-select_container:after {
    bottom: 12px;
}
.THIS .text-element {
	display: flex;
	justify-content: flex-start;
	align-items: flex-start;
	padding-right: 30px;
	box-sizing: border-box;
}
.THIS .text-style, .THIS .field-style {
	flex: 1;
}
.THIS .text-style-val, .THIS .field-style-val {
	flex: 1;
}
.THIS .section-name {
	font-size: 15px;
	font-weight: bold;
}
.THIS .section-list {
    font-size: 15px;
    padding-bottom: 6px;
}
.THIS .slds-table_bordered thead th div {
	font-size:15px;
    font-weight:bold;
}
.THIS .text-size {
    padding-bottom: 8px;
    text-align: right;
}
.THIS .searchAnother button{
    font-size:17px;
}
.THIS .buttonWidth button{
    font-size:17px;
    width:130px;
}
@media screen and (min-width:1024px){
    .THIS .text-style, .THIS .text-style-val {
        font-size: 18px;
    }
}
@media t(mqSmall){
.THIS .buttonWidth button{
    width:100%;
}
.THIS .page-header h1, .THIS .heading {
	font-size:16px;
}
.THIS .license-desc {
	font-size: 14px;
}
.THIS .field-padding {
    padding: 10px 5px;
}
.THIS .searchNum {
	margin-top:15px;
}
.THIS .slds-tabs_default__item {
    padding: .25rem .5rem;
}
.THIS .button-float {
    float: none;
    margin: 15px 0px;
}
.THIS .headerWrap span.sub-header {
    line-height: 1.2;
    padding-bottom: 0px;
    font-size: 18px;
}
.THIS .search-details {
    margin: 40px 0px;
}
.THIS .screen-two span.sub-section {
    display: block;
    margin-left: 0px;
    font-size: 14px;
    color: #6f6f6f;
    padding-top: 5px;
}
.THIS .screen-two .search-details .slds-form-element__label, .THIS .screen-two .search-details .slds-form-element__control {
    font-size: 14px;
}
.THIS .license-buttons .cancel-button {
    width: 100%;
}
.THIS tbody td .slds-grid_align-end {
    justify-content: flex-start;
}
}