.THIS.info-wrapper {
    border-radius: 8px;
    box-shadow: 3px 3px 12px 0 rgba(208, 208, 208, 0.5);
    background-color: t(LnGWhite);
    padding: 2rem 2.5rem;
}	
.THIS .info-title{
    font-family: NotoSerif;
    font-size: 1.125rem;
    font-weight: bold;
    padding-bottom:2rem; 
    color:t(LnGFormTitleColor);
}
.THIS .info{
    font-family: SourceSansPro;
    padding-bottom:1.5rem;
}
.THIS .info-label{
    font-family: SourceSansPro;
    font-size: 1rem;
    font-weight: bold;
    color:t(LnGFormGray);
    padding-bottom:0.5rem;
}
.THIS .info-text{
    font-size:1.25rem;
    color:t(LnGFormTitleColor);
    padding-bottom:
}