.THIS .forceContentFileCard {
    width: 12rem !important; 
}
.THIS .file{
	padding-left: 20px;
    padding-bottom: 20px;
}
.THIS .slds-form-element .slds-form-element__control{
	display: inline-block!important;
}
.THIS.alert {
    padding-left: 15px;
    color: red;
}
.THIS .delete-button{
    text-align: -webkit-right;
    position: relative;
    z-index: 99;
    top: 10px;
    left: 10px;
}
.THIS .delete-button .slds-button{
	padding-left: 4px;
    height: 20px;
    line-height: 0;
    border-radius: 10px;
}
.THIS lightning-primitive-icon{
	margin-left: -6px;
}
.THIS button{
	width: 0px;
}