.THIS .forceContentFileCard {
    width: 12rem !important; 
}
.THIS .file{
	padding-left: 20px;
    padding-bottom: 20px;
    z-index:0;
}
.THIS .fileupload .slds-form-element__control{
    width:100%;
}
.THIS .forceContentFileCard .slds-file__title_card{
    z-index:0;
}
.THIS .slds-file-selector_files .slds-file-selector__button{
    /*color: #ffffff;
    background: t(primary);*/
    width: 200px;
    height: 42px;
    background: #ffffff;
    border-radius: 5px;
    border: solid 2px #0872b9;
    color: t(primary);
    text-align: center;
    max-height: 42px;
}
.THIS .attach-title{
    font-weight:600;
    color:t(LnGFormTitleColor);
    font-size:16px;
    margin-left:1rem;
 }
.THIS .fileupload .slds-form-element__label{
    margin-left:1rem;
}
.THIS .slds-form-element .slds-form-element__control{
	display: inline-block;
    margin-left:1rem;
}
.THIS .slds-form-element .slds-form-element__control .slds-file-selector__text{
    margin-left:1rem;
    display: flex;
    align-items: center;
}
.THIS.alert {
    padding-left: 15px;
    color: red;
}
.THIS .delete-button{
    text-align: -webkit-right;
    position: relative;
    z-index:1;
    top: 10px;
    left: 10px;
}
.THIS .delete-button .slds-button{
	padding-left: 10px;
    padding-right: 10px;
    height: 20px;
    line-height: 0;
    border-radius: 10px;
     z-index:0;
}
.THIS lightning-primitive-icon{
	/*margin-left: -6px;*/
    margin-left: 0px;
    
}
.THIS button{
	width: 0px;
}
@media t(mqSmall){
    .THIS .slds-file-selector_files .slds-file-selector__button{
        max-height:unset;
    }
}
/*.THIS a.slds-file__crop {
    pointer-events: none;
}*/