.THIS .forceContentFileCard {
    width: 12rem !important; 
}
.THIS .file{
	padding-left: 20px;
    padding-bottom: 20px;
}
.THIS .fileupload .slds-form-element__control{
    width:100%;
}

.THIS .slds-file-selector_files .slds-file-selector__button{
    color: #ffffff;
    background: t(primary);
}
.THIS .attach-title{
    font-weight:600;
    color:t(LnGFormTitleColor);
    font-size:1.25rem;
    margin-bottom:1rem;
}
.THIS .slds-form-element .slds-form-element__control{
	display: inline-block;
    margin-left:1rem;
}
.THIS .slds-form-element .slds-form-element__control .slds-file-selector__text{
    margin-left:1rem;
    display: flex;
    align-items: center;
}
.THIS.alert {
    padding-left: 15px;
    color: red;
}
.THIS .delete-button{
    text-align: -webkit-right;
    position: relative;
    z-index:1;
    top: 10px;
    left: 10px;
}
.THIS .delete-button .slds-button{
	padding-left: 4px;
    height: 20px;
    line-height: 0;
    border-radius: 10px;
     z-index:0;
}
.THIS lightning-primitive-icon{
	margin-left: -6px;
}
.THIS button{
	width: 0px;
}