.THIS {  
}
@media t(mqLarge){
    .THIS .back-Image {
        height: fit-content;
        width: -webkit-fill-available;
        position: absolute;
        z-index: -1;
    }
	.THIS .front-Image {
        height: fit-content;
        margin-bottom: 42px;
	}
    .THIS.front-Div {
        text-align: -webkit-center;
    }
}
@media t(mqMedium){
    .THIS .back-Image {
        height: fit-content;
        position: absolute;
        z-index: -1;
    }
	.THIS .front-Image {
        height: fit-content;
	}
    .THIS.front-Div{
        text-align: -webkit-center;
    }
}
@media t(mqSmall){
    .THIS .front-Image {
        height: 104px;
    	margin-top: 17px;
	} 
    
    .THIS .back-Image {
  		height: 134px;
        position: absolute;
    	z-index: -1;
	}
    .THIS.front-Div{
        text-align: -webkit-center;
    }
}