.THIS.association {
    position:relative;
    z-index:1;
}
.THIS .slds-icon-utility-search{
    display:none;
}
.THIS .slds-media__figure,.THIS .slds-combobox__input-entity-icon{
	display:none;
}
.THIS [class*=slds-input-has-icon_left] .slds-combobox__input.slds-combobox__input-value{
    padding-left:0.75rem;
}