.THIS.business-outer-wrapper{
    padding: 2rem 7.5rem;
}
/*.THIS .license-outer-wrapper{
    padding:40px 100px;
    width:100%;
}*/
.THIS .page-title{
    font-size:1.25rem;
    color:t(LnGFormTitleColor);
    font-weight:600;
}
.THIS .alt-email.field-style{
    display:block;
}
.THIS .tabs-wrapper .slds-tabs_default__nav{
    border-bottom:solid 2px t(actionPanelBG);
}
.THIS .biz-details-wrapper.expanded-actions{
    align-items:flex-start;
}
.THIS .data-table{
    height:15rem;
}
.THIS .license-details-wrapper{
    border-radius: 4px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.1);
    border: solid 1px t(sectionBorder);
}
.THIS .details-header{
    padding:16px 32px;   
    border-bottom: solid 1px t(headerUnderline);
}
.THIS .header-item{
    font-family: 'SalesforceSans';
    font-size: 16px;
    font-weight: 600;    
    color: t(headerItemColor);
}
.THIS .info-date{
    text-align:right;
    padding-bottom:10px;
}
.THIS .details-body{
    padding:20px 32px 0;
}
.THIS .name-details, .THIS .contact-details, .THIS .issue-details{
    padding-bottom:27px;
    font-family: 'SalesforceSans';
    font-size: 12px;    
    color: t(headerItemColor);
}
.THIS .issue-item, .THIS .contact-item{
    padding-bottom:12px;
}
.THIS .section-wrapper{
    padding-bottom:16px;
}
.THIS .section-header{  
  font-size: 14px;
  font-weight: bold;  
  color: t(headerItemColor);
  padding-bottom:8px;
  border-bottom:solid 1px t(headerUnderline);
}
.THIS .data-style{
    font-weight:normal;
}
.THIS .field-style{  
    display:flex; 
    padding-bottom:0.5rem;
    font-size:1rem;        
    color:t(LnGFormTitleColor);
}
.THIS .field-style.address{
    display:block;
}
.THIS .label-style{
    font-weight:bold;  
    padding-right:0.25rem;
}
.THIS .business-name{
    font-size:1.25rem;
	color:t(primary);	
    text-decoration:underline;
    white-space:nowrap; 
}
.THIS .biz-name-wrapper{
    margin-bottom:0.5rem;
    text-overflow:ellipsis;
    overflow:hidden;
}
.THIS .biz-address{
    padding-bottom:1rem;
}
.THIS .data-style{
    word-break:break-word;
}
.THIS .business-det{
    padding-top:10px;
}
.THIS .section-details{
    padding-top:16px;
}
.THIS .options-wrapper{
    padding-top:32px;
}
.THIS .sidebar-options li{
    text-align:right;
    padding-bottom:10px
}
.THIS .sidebar-options li a{
    text-decoration:underline;
    color:t(headertxt);
}
.THIS .tabs-wrapper{
    padding-top:54px;
}
.THIS .Account-name{
    font-size:24px;
    font-weight:bold;    
    padding-bottom:16px;
}
.THIS .biz-welcome{
    text-align:right;
}
.THIS .sidebar-links .links-wrapper{
    display:flex;
    justify-content:flex-end;
}
.THIS .business-wrapper{
    justify-content:space-between;   
}
.THIS .biz-ubi{
    font-size:1rem;
    color:t(LnGFormTitleColor);
}
.THIS .ubi-label{
    font-weight:600;
    padding-bottom:0.5rem;
}
.THIS .business-card{
    margin-bottom:1.5rem;
    width:26.7vW;
    border: solid 1px t(bizCardBorder);
    padding: 1.75rem 1.5rem 2.125rem;
}
.THIS .biz-welcome{
    padding-bottom:24px;
}
.THIS .nav-links ul{
    border: solid 1px t(primary);
    background : t(actionPanelBG);
    height:100%;
}
.THIS .nav-links li{
    padding:22px 30px;    
    border-bottom: solid 1px t(actionItemsBorder);      
}
.THIS .nav-links li a{
    color:t(LnGWhite);
    font-size:1rem;
    font-family:t(btnfontfamily);
}
.THIS .user-info-wrapper{
    padding:1.5rem 2rem;    
    border: solid 1px t(grayBorder);
    border-right:none;
}
@media only screen and (max-width:767.9px){
    .THIS .sidebar-options li{
        text-align:left;
    }
    .THIS .license-outer-wrapper{
        padding:16px;
    }
    .THIS .details-header{
        padding:16px;
    }
    .THIS .details-body{
        padding:16px;
    }
    .THIS .name-details{
        padding-bottom:12px;
    }
    .THIS .phy-address{
        padding-bottom:12px;
    }
    .THIS .header-item{
        padding-bottom:12px;
    }
    .THIS .header-item:last-of-type{
        padding-bottom:0;
    }
    .THIS.business-outer-wrapper{
        padding:1rem;
    }
    .THIS .business-card{
        width:100%;
    }
    .THIS .add-biz-btn{
        width:100%;
    }
    .THIS .biz-welcome{
        padding-top:1.5rem; 
    }
}