.THIS {
}
.THIS .business{
    list-style-position: inside;
    list-style: unset;
    margin-left: 6%;
    font-size:t(fieldlabelsize);
}
.THIS .businessHeader{
    font-size: 20px;
    font-weight: bold;
    display: inline-block;
    margin-left: 4%;
}
.THIS .businessStatus{
    margin: 0 auto;
    width: 96%;
    max-width:872px;
    padding: 1rem;
    background:#e1f3f8;
    border-left: 10px solid #00bfe7;
}
.THIS .businessSubHeader{
    font-size:t(fieldlabelsize);
}
.THIS .bizlayout{
     margin-left: 8%;
}
.THIS .slds-icon-text-default{
    fill:#000000;
}
@media t(mqSmall){
    .THIS .businessStatus{
        width:auto;
        max-width:unset;
        margin-bottom:1rem;
    }
}