.THIS {
}
.THIS img{
    height: 35px;
}
.THIS .dashboard-wrapper{
    padding:0 160px; 
}
.THIS .bottom-border{
    border-bottom: 1px solid #d4d4d4; 
}
.THIS .table-title{
    font-weight:600;
    font-size:1.25rem;
    color:t(LnGFormTitleColor);
}
.THIS .table-wrapper{
    height:20rem;
}
.THIS .table-border{
    border-radius: .25rem;
    border: 1px solid #d4d4d4;
}
.THIS .bottom-border .row-margin{
    margin-bottom :0;
}
.THIS .rel-btn-wrapper a, .THIS .rel-btn-wrapper button{
    font-size:0.8125rem;
}
.THIS .rel-btn{
    margin-bottom:0.25rem;
}
.THIS .rel-btn:last-of-type{
    margin:0;
}
.THIS .btn-wrapper{
    display:flex;
    flex-direction:column;
}
.THIS .text-style{
    font-weight: bold;
}
.THIS .text-size{
    font-size: 12px;
}
.THIS .comp-desc{
    padding:16px 16px 0;
}
.THIS .pull-right{
    margin-left: auto;
    margin-right: 0;
}
.THIS .widget{
    /*background-color:t(LnGWhite); */
    /*border : solid 1px t(LnGWhite); */
    /*border-radius:8px;*/
    /*padding:2rem;*/
}
.THIS .app-btn{
    float: right;
    background: t(LnGPrimaryColor);
    border-radius: 1.25rem;        
    text-align: center;
    font-size: 1rem;
    padding:0.25rem 1rem;
}
.THIS .app-btn a{
    color:t(LnGWhite);
}
.THIS .b-bottom{
    border: 1px solid t(LnGFormGray);  
    margin-bottom:1rem;
    background-color:t(LnGWhite);
    padding: 0.5rem 0;
}
.THIS .view-more{
    text-align: right;
    padding: 55px 10px;
}
.THIS .col{
    color: token(LnGFormGray);
    font-size: 1rem;
}
.THIS .header{    
    display: flex;
    align-items: center;
    justify-content: center;    
}
.THIS .app{
    text-transform : uppercase;
    font-weight:bold;
    font-size:1rem;
    color: t(LnGPrimaryColor);
}
/*.THIS .widget{
    padding: 10px;
}*/
.THIS .content{
    height: 105px;
    padding: 0 20px;
}
.THIS .fontSize{
    font-size: 14px;                                   
}                                                                       
.THIS hr{
    width: -webkit-fill-available;
    border-top: .5px solid #d4d4d4;
    margin: 1px;                                    
}
.THIS .bottom-card-font-size{
    font-size: 14px; 
    color:t(LnGFormTitleColor);
}
.THIS .datacellId-fontBorder{
    font-size: 12px;
}
.THIS .view-text{
    color:t(LnGPrimaryColor);
}
.THIS .down-btn-wid{
    color:t(LnGPrimaryColor);
    border:solid 1px t(LnGPrimaryColor);
    border-radius:25px;        
}
.THIS .btn-wrapper{
    padding:1rem 1rem 0;
}
.THIS .license-details-wrapper{
    padding-top:60px;
}
.THIS .renew-btn{
    display:flex;
    justify-content:flex-end;
}
.THIS .tab-style{
    padding-top:0;
}
.THIS .table-name{
    padding:16px 16px 0;
    font-size:18px;
}
.THIS .info-date{
    text-align:right;
}
.THIS .field-style{
    display:flex;
}
.THIS .label-style{
    padding-right:5px;
}
.THIS .contact-button .slds-float_right{
    float:unset;
}
.THIS .lic-btn{
    display:flex;
    flex-direction:column;
}
.THIS .lic-btn a, .THIS .lic-btn button{
    font-size:0.8125rem;
}
.THIS .lic-btn .slds-button+.slds-button{
    margin: 0.25rem 0 0;
}
.THIS .save-btn-wrapper{
    display:flex;
    justify-content:flex-end;
    margin-top:0.5rem;
}

@media (max-width: 30em)
    {
    .THIS .slds-small-size_1-of-1, .THIS .slds-small-size--1-of-1 {
        width: 100%;
    }
    .THIS .content .slds-small-size_1-of-4, .THIS .content .slds-small-size--1-of-4 {
        width: 25%;
        word-break: break-word;
    }
    .THIS .view-more {
        text-align: right;
        padding: 19px 10px;
    }
    .THIS .app-btn{
        float:none;
        margin-top:0.5rem;
    }
    
}