.THIS .main-title{    
    color: t(headerColor);	
    margin:2rem 7.5rem 0;
}
.THIS .help-wrapper{
    margin:1.5rem 7.5rem;
}
.THIS .list-style{
    list-style-type:disc;
}
.THIS .list-style li{
    margin-left:2rem;
}
.THIS .list-style li:first-of-type{
    margin-top:1rem;
}
.THIS .other-prof-wrapper .main-wrapper{
    padding-top:0; 
}
@media only screen and (min-width: 768px) and (max-width: 1279.9px){
    .THIS .main-title{
        margin:2rem 5.5rem 0;
    }
}
@media t(mqSmall){
    .THIS .main-title{
        margin:1rem;
    }
}
