.THIS .uiMessage{
    height:auto;
    border-radius:5px;
}
.THIS .uiMessage li{
    line-height:30px;
}
.THIS.slds-wrap{
    padding:0 0 20px 0;
}
.THIS .field-item:last-of-type .fileupload .slds-form-element__control{
    margin-bottom:1.5rem;
}
.THIS .personal-info .slds-checkbox.certificate-checkbox br{
    display:none;
}
.THIS .Financial .slds-form-element__label .slds-text-longform span{
    color:t(fieldclr);
}
.THIS .License .slds-form-element__label .slds-text-longform{
    color:t(fieldclr);
}
.THIS .validate .no-help{
    width:80%;
}
.THIS .validate .no-help.field-item{
    width:100%;
}
/*.THIS .personal-info .slds-media.slds-listbox__option .slds-media__body span[title*="--None--"]{
display:none;
} */

.THIS .background-section .address-button{
    margin-bottom:1.5rem;
}
.THIS .dispItem .uiOutputRichText{
    font-size: token(fieldlabelsize);
    color:t(fieldclr);
}
.THIS .disptest .slds-rich-text-editor__output span{
    color:t(fieldclr);
}

.THIS .quesclr .uiOutputRichText,.THIS .revAndSubCompletionFont .uiOutputRichText{
    font-size: token(fieldlabelsize);
    line-height: 1.5;
}
.THIS .validate .uiOutputRichText{
    font-size: token(fieldlabelsize);
}
.THIS .help-text .slds-select_container{
    width:80%;
}
.THIS .slds-form-element.slds-dropdown-trigger{
    display:inline;
}
.THIS label{
    font-size: 16px;
}
.THIS .review-item{
    padding-bottom:5px;
}
.THIS .WordSection1 span{
    color:red;
}
.THIS .field-item .slds-input{
    border:1px solid #5b616b;
    height:42px;
}
.THIS .mandatory-fields{
    margin-left:8.5rem;
}
.THIS .help-text .slds-form-element__label{
    display:none;
}
.THIS .help-label{
    display:flex;
    align-items:center;
}
.THIS .slds-form-element__label,.THIS .slds-form-element__label span{
    font-size: 14px; 
    color:t(fieldclr);
    word-break: normal;
    overflow-wrap: normal;
}
.THIS .personal-info .review-item .slds-form-element{
    margin-bottom:13px;
}
.THIS .sectionwidth{
    width:100%;
    height:30px;
    border-bottom:0.5px solid #d6d7d9;
    margin:1rem 0;
    
}
.THIS .sectiondetail{
    margin-bottom:0.5rem;
     
}
.THIS .Legal{
    font-weight:bold;
}
.THIS .field-item.attest-item{
    padding-right:0;
}

.THIS .datelabel label{
    display:none;
}
.THIS .slds-radio_faux{
    width:20px;
    height:20px;
}
.THIS .slds-checkbox .slds-form-element__label{
    font-size: 14px;
    color: token(fieldclr);   
    
}
.THIS .aff-loc{
    margin:2rem 0;
    padding:1rem 0;
    border-top:solid 1px t(grayBorder);
}
.THIS .slds-file-selector__dropzone{
    border:none;
}
.THIS .personal-info .slds-checkbox .slds-checkbox_faux{
    width:20px;
    height:20px;
    margin-right:12px;
}
/*.THIS .slds-form-element__control .slds-radio{
    display : inline-block !important;
}*/
.THIS fieldset .slds-form-element__control{
    display:flex;
    flex-wrap:wrap;
}
.THIS .slds-form-element__legend{
    font-size: 14px;
    font-weight: normal;
    color:t(LnGFormGray);
}
.THIS.page-info{
    color: token(blue);
    font-size: 25px;
}
.THIS .field-item{
    padding: 0px 25px 25px 25px; 
}
.THIS.button-section{
    width: -webkit-fill-available;
    padding: 25px;
    margin-left: auto;
    text-align: -webkit-auto;
    width: 90%;
    margin: auto;
    padding: 10px;
    padding-left: 30px;
}
.THIS .devide-list{
    display:inline-block;
    margin-right: .25em; 
}
.THIS .revAndSubErrorFont .error-item,.THIS .revAndSubErrorFont{
    padding: 8px 0 20px 0;
    color: red;
    font-size: token(fieldlabelsize);
    font-family: token(publicSansfontfamily);
}
.THIS .review-item span{
    font-size: token(fieldlabelsize);
}
.THIS .revAndSubCompletionFont{
    margin:8px 0 20px 0;
    color: t(fieldclr);      
    /*padding:5px 0;    */
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-family: token(publicSansfontfamily);
    font-size: token(fieldlabelsize);
    font-weight: token(txtfontweight);
    font-style: token(txtfontstyle);
    line-height: normal;
}
.THIS .slds-input{
    border-top:none;
    border-left:none;
    border-right:none;
    font-size:14px;
    color:t(LnGFormTitleColor);
    border-radius:0;
    background:t(LnGBackgroundGray);
}
.THIS .field-item.attest{
    padding:10px 0 25px;
}
/*.THIS .attestation{
    padding-bottom:25px;
} */
.THIS .field-item{
    padding-left: 0;
    padding-bottom:0;
}
.THIS .attestBody{
    font-size:14px;
    color:t(fieldclr);
}
.THIS .uiInput--default.uiInput--input{
    border:none;
    font-size:14px;
    color:t(LnGFormTitleColor);
    background-color: t(LnGBackgroundGray);    
    cursor: not-allowed;    
}
.THIS .reviewHeading{
    font-weight: bold;   
    color: t(LnGFormGray);
    font-size:16px;
}
/*.THIS .attValidationStyle{
    padding-left: 13px;
    padding-bottom: 25px;
    color: red;
    font-size:14px;
}*/
.THIS .attValidationStyle{
    padding-left: 0px;
    padding-bottom: 0;
    color: t(LnGErrorMsg);
    font-size:20px;
    line-height: 5px;
    position: relative;
    left: -10px;
    bottom: -15px;
}
.THIS .attValidationStyle.fieldSpecific {
    font-size:14px;
    left: 0px;
}
.THIS .slds-file-selector__text{
    font-size:14px;
}
.THIS .addRecbtn.cLnP_RecordEditForm{
    margin:10px 0 0 25px;
}
.THIS .LnP_Education__caddRecord{
    padding:10px 0 0 0;
}
.THIS .LnP_Education__caddRecord .addRecbtn,.THIS .LnP_Licensure_History__caddRecord .addRecbtn, .THIS .LnP_Employment__caddRecord .addRecbtn{
    padding:0 25px 25px;
}
.THIS .LnP_Licensure_History__caddRecord{
    padding:10px 0 0 0; 
}
.THIS .LnP_Employment__caddRecord{
    padding:10px 0 0 0;
}
.THIS{
    margin: 0 7.5rem;
}

.THIS .btn-wrapper{      
    margin:20px auto;           
    display: flex;
    justify-content: space-between;
}

.THIS .page-heading{    
    margin: auto;     
}
.THIS .info{
    
    width: 96%;
    margin: 0 auto;
    max-width: 872px;
}
.THIS .subheader{
    padding-bottom: 0.5rem;
    margin-top:1rem;
    font-weight: 600;    
    line-height: 1.3;
    color: t(LnGFormTitleColor);
    font-family:t(merrifontfamily);
    /* border-bottom:0.5px solid #d6d7d9;*/  
}
.THIS .field-size .slds-form-element__label{
    max-width:100%;
}
.THIS .address-fields .slds-select-container{
    width:100%;
}
/*.THIS .btn-lnp{
width:auto;
background: #4c65f2;
color: #ffffff;
padding: .25rem 1rem;
border-radius: 50px;
}*/
/*.THIS .prevBtn{
background-color: t(LnGWhite);
color: t(primary);
}*/
.THIS .background-section{
    background-color:t(white);
    margin: 0px;
    
}
.THIS .address-button:nth-child(2){
    border-bottom:1px solid #d6d7d9;
    margin-bottom:65px;
}
.THIS .tile-wrap{
    display:flex;
    flex-wrap: wrap;
    padding:0 0 10px 0;
}
.THIS .tile-wrap .recordDetail{
    padding:0 15px 15px 0;  
}
.THIS .Endorsement .uiOutputRichText ul{
    margin-left:1rem;
}
.THIS .addressBtn{
    display:none;
}
.THIS .tile-wrap .recordDetail .row{
    width: 100%;
    justify-content: flex-end;
    display: flex;
    padding: 15px;
    
}
.THIS .mandatory-fields{
    color:rgb(194, 57, 52);;
}
/*.THIS .error{
    color:t(LnGErrorMsg);
}*/
.THIS .validate {
    position: relative;
    margin-bottom:1rem;
    padding-bottom:0;
}
.THIS .validate .uiInputTextArea{
    border:1px solid #5b616b;
    margin-bottom: 0.8rem;
}
.THIS .dispItem,.THIS .GuaranteedispItem {
    margin-bottom:-11px;
}
.THIS .License.Information.dispItem:last-of-type{
    margin-bottom:1rem;
}
.THIS .Guarantee.dispItem{
    margin-bottom:0;
}
.THIS .validate::before{
    position: absolute;
    content: "*";
    color:t(LnGErrorMsg);
    top: 0px;
    left: -8px;
}
.THIS .validate .slds-form-element__label .uiOutputRichText span span span{
    font-size: t(fieldlabelsize);
    color: t(fieldclr);
    word-break: normal;
    overflow-wrap: normal;
    font-family: t(publicSansfontfamily);
    margin: 0;
    padding: 0 0 5px 0;
    
}
.THIS .validate .slds-form-element__label .uiOutputRichText br{
    display:none;
}
/*.THIS .validate .field-item{ 
    display:inline;
}*/

.THIS .dispItem .field-item{
    display:inline;
}

.THIS .btn-lnp[disabled], 
.THIS .btn-lnp:disabled{
    background: t(LnGGrayText);
}
.THIS .personal-info {
    display:block;
    /*width:96%;
    max-width:872px; */
    margin:0px auto;
    padding-top:25px;
}
.THIS .fileupload .slds-form-element__label,.THIS .fileupload .slds-medium-show{
    margin:10px;
}
.THIS .licensetype a{
    cursor:default;
    text-transform: capitalize;
    font-family: t(publicSansfontfamily);
    font-size: t(btnfontsize);
}
.THIS .required.field-size.slds-form-element label::before {
    content: '*';
    color: t(LnGErrorMsg);
    padding-right: 2px;
}
.THIS .required.field-size.slds-form-element label abbr.slds-required {
    display: none;
}
.THIS .slds-text-longform p{
    font-size:14px;
}
.THIS .next-button{
    font-weight: bold;
    border-radius: 4px;
    color: #0872b9;
    border: solid 1px #0872b9;
    margin-right:1rem;
    background-color:t(LnGWhite);
}

.THIS .hide-button{
    visibility:hidden;
}
.THIS .attestation-error{
    margin-bottom:1rem;
}
.THIS .headings{
    font-weight:bold;
}
@media t(mqSmall){
    
    .THIS .button-section.buttonpos {
        display: flex;
        flex-direction: column-reverse;
        align-items:center;
    }    
    .THIS .sectionwidth{
        margin-left: 0;
    }
    .THIS .dispItem .field-item .slds-form-element__control,.THIS .dispItem,.THIS .validate .field-item .slds-form-element__control,.THIS .validate{
        width:100%;
    }
    .THIS .personal-info .validate{
        margin-bottom: 0.8rem;
    }
    .THIS .personal-info{
        margin:0 1rem;
    }
    .THIS .subheader{
        margin: 1rem 1rem 0
    }
    .THIS .save-buttons{
        flex-direction:column-reverse;        
    }
    .THIS .buttonpos button {       
        margin: 10px 0;
        height: 42px;    
        font-size: 14px;
        font-weight: bold;
    }   
    .THIS .id-field .account-label{
        display:inline-block;
    }
    .THIS .next-button{
        margin-right:0;
    }
    .THIS .hide-button{
        display:none;
    }
    
}
@media only screen and (min-width: 768px)and (max-width: 1024px){
    
    .THIS {
        margin: 0 5.5rem;
    }
    .THIS .buttonpos{
        
        margin:0;
        
    }
    .THIS .addRecbtn{
        padding:5px;
    }
    
    
}
.THIS .toastTitle {
    font-family: t(merrifontfamily);
}
.THIS .toastIcon svg.slds-icon {
    width: 24px;
    height: 24px;
    fill: t(fieldclr);
}
.THIS .forceToastMessage {
    height: auto;
}