.THIS.slds-wrap{
    padding:0 0 20px 0;
}
.THIS label{
    font-size: 16px;
}
.THIS .slds-form-element__label{
    font-size: 14px; 
    color:t(LnGFormGray);
}
.THIS .section{
    font-size: 18px;
    color:t(LnGFormTitleColor);
    margin: 0 0 0 25px;
    padding-bottom:10px;
    width:100%;
}
.THIS .sectiondetail{
    margin: 0 0 25px 25px;    
    color: t(LnGFormGray);  
    width:100%;
}
.THIS .slds-radio .slds-form-element__label{
	font-size: 14px;
    color: token(LnGFormTitleColor);
}
.THIS .slds-checkbox .slds-form-element__label{
	font-size: 14px;
    color: token(LnGFormTitleColor);   
    
}
.THIS .slds-file-selector__dropzone{
    border:none;
}
.THIS .slds-checkbox .slds-checkbox_faux{
    width:20px;
    height:20px;
}
.THIS .slds-form-element__control .slds-radio{
    display : inline-block !important;
}
.THIS .slds-form-element__legend{
	font-size: 14px;
    font-weight: normal;
    color:t(LnGFormGray);
}
.THIS.page-info{
	color: token(blue);
    font-size: 25px;
}
.THIS .field-item{
   padding: 0px 25px 25px 25px; 
}
.THIS.button-section{
    width: -webkit-fill-available;
    padding: 25px;
    margin-left: auto;
	text-align: -webkit-auto;
    width: 90%;
    margin: auto;
    padding: 10px;
    padding-left: 30px;
}
.THIS .pull-right{
    margin-left: auto;
    margin-right: 0;
}
.THIS .devide-list{
	display:inline-block;
    margin-right: .25em; 
}
.THIS .revAndSubErrorFont{
    padding: 8px 0 20px 0;
    color: red;
    font-size:14px;    
}
.THIS .revAndSubCompletionFont{
    margin:8px 0 20px 12px;
    color: t(LnGFormTitleColor);
    font-size:14px;  
    padding:5px 10px;
    background-color: rgb(233, 234, 236);    
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.THIS .slds-input{
    border-top:none;
    border-left:none;
    border-right:none;
    font-size:14px;
    color:t(LnGFormTitleColor);
    border-radius:0;
    background:t(LnGBackgroundGray);
}
.THIS .field-item.attest{
    padding:10px 0 25px;
}
.THIS .attestBody{
    font-size:14px;
}
.THIS .uiInput--default.uiInput--input{
    border:none;
    font-size:14px;
    color:t(LnGFormTitleColor);
    background-color: t(LnGBackgroundGray);    
    cursor: not-allowed;    
}
.THIS .reviewHeading{
    font-weight: bold;   
    color: t(LnGFormGray);
    font-size:16px;
}
.THIS .attValidationStyle{
    padding-left: 25px;
    padding-bottom: 25px;
    color: red;
    font-size:14px;
}
.THIS .slds-file-selector__text{
    font-size:14px;
}
.THIS .addRecbtn.cLnP_RecordEditForm{
    margin:10px 0 0 25px;
}
.THIS .LnP_Education__caddRecord{
    padding:10px 0 0 0;
}
.THIS .LnP_Education__caddRecord .addRecbtn,.THIS .LnP_Licensure_History__caddRecord .addRecbtn, .THIS .LnP_Employment__caddRecord .addRecbtn{
    padding:0 25px 25px;
}
.THIS .LnP_Licensure_History__caddRecord{
   padding:10px 0 0 0; 
}
.THIS .LnP_Employment__caddRecord{
   padding:10px 0 0 0;
}
.THIS{
    margin: 0 40px;
}

.THIS .personal-info{    
    margin: 20px auto;
    padding: 30px 10px;    
    border-radius: 8px;
  	box-shadow: 3px 3px 12px 0 rgba(208, 208, 208, 0.5);
    background:t(LnGBackgroundGray);
    display: flex;
    flex-direction: column;    
}

.THIS .btn-wrapper{  
    
    
    margin:20px auto;           
    display: flex;
    justify-content: space-between;
}

.THIS .page-heading{    
    margin: auto;     
}
.THIS .subheader{
    font-size:24px;
    color:t(LnGFormTitleColor);
}
.THIS .btn-lnp{
    background: #4c65f2;
    color: #ffffff;
    padding: .25rem 1rem;
    border-radius: 50px;
}
.THIS .background-section{
    background-color:t(white);
    margin: 20px 0px;
    padding: 22px;
}
.THIS .tile-wrap{
    display:flex;
    padding:0 0 10px 0;
}
.THIS .tile-wrap .recordDetail{
    padding:15px;
}
.THIS .tile-wrap .recordDetail .row{
    width: 100%;
    justify-content: flex-end;
    display: flex;
    padding: 15px;
}
.THIS .mandatory-fields{
    color:rgb(194, 57, 52);;
}
.THIS .error{
    color:t(LnGErrorMsg);
}