.THIS .slds-path__item{
    
    min-width: 0;
    padding: 0;
    margin: 0;
    flex: none;
    width:16px;
}
.THIS .slds-path__nav{
    /*padding:0 27px;*/
    display:flex;
    justify-content:center;
}
.THIS .six-circles hr{
    width: calc(100%/6);
    margin: 24px 0;
    position: relative;
    top: -7px;
}
.THIS .six-circles .slds-path__title{
    white-space: normal;
    left: 11px;
    
    justify-content: center;
}
.THIS .five-circles hr{
    width: calc(100%/5);
    margin: 24px 0;
    position: relative;
    top: -7px;
}
.THIS .four-circles hr{
    width: calc(100%/4);
    margin: 24px 0;
    position: relative;
    top: -7px;
}
.THIS .three-circles hr{
    width: calc(100%/3);
    margin: 24px 0;
    position: relative;
    top: -7px;
}
.THIS .two-circles hr{
    width: calc(100%/2);
    margin: 24px 0;
    position: relative;
    top: -7px;
}
.THIS .success li {
    width: 2rem;
    height: 2rem;
    text-align: center;
    line-height: 2em;
    border-radius:5rem;
    background: dodgerblue;
    margin: 0 1em;
    display: inline-block;
    color: white;
    position: relative;
    box-shadow:0 0 0 1px red;
    box-sizing:border-box;
    
}
.THIS a[title="Attachments"]+span,.THIS a[title="Endorsement"]+span{
    left:-32px;
}
.THIS a[title="Questions"]+span{
    left: -20px;
}
.THIS a[title="Address"]+span{
    left: -14px;
}
.THIS .success li::before{
    content:'';
    position: absolute;
    top: .9em;
    left: -4em;
    width: 4em;
    height: .2em;
    background: dodgerblue;
    z-index: -1;
}
.THIS .success li:first-child::before {
    display: none;
}
.THIS .success .test{
    position:absolute;
    display:flex;
    color:black;
}
.THIS .slds-path__title{
    overflow: visible;
    white-space: nowrap;
    width: 0;
    position: relative;
    left: -56px;
    display:flex;
}

.THIS .icon{
    vertical-align: middle;
    /* height: 50px;*/
}
.THIS .slds-path__nav{
    margin: 0 auto;
    /*width: 90%; */
    overflow: visible;
}
.THIS .pathwidth{    
    margin: 0 auto;
    padding-bottom:25px;
    padding-top:25px;
}
.THIS .subsubheader{    
    color: t(LnGFormTitleColor);
    font-size:14px;
    
    
}
.THIS .active-path{
    border-top: 1px solid #2f853d;
}
.THIS .is-not-current{
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    /*filter: grayscale(100%);*/
    opacity: 0.3;
}
.THIS .is-complete{
    border: 3px solid green;
    box-shadow: 0px 0px 20px green;
}
.THIS .outer {
    background-color:#eff1ff;
    width:16px; 
    height:16px;
    position:relative;
    border:1px solid #215393;
    border-radius: 50%;
}

.THIS .inner {
    background-color:#215393; 
    top: 19%; left:19%;
    width:50%;
    height:50%; 
    position: relative;
    border:1px solid #215393;
    border-radius: 50%;
    
}
.THIS .outer-circle {
    background: #eff1ff;
    border-radius: 50%;
    height:16px;
    width:16px;
    position: relative;
    box-shadow: 0 0 0 2px #215393;
    margin:10px 0;
}
.THIS .red-circle {
    height: 16px;
    width: 16px;
    background: #e2574c;
    border-radius: 50%;
    box-shadow: 0 0 0 2px #e2574c;
    margin:10px 0;
}
.THIS .green-circle{
    height: 16px;
    width: 16px;
    border-radius: 50%;
    box-shadow: 0 0 0 2px #2f853d;
    margin:10px 0;
    background: #2f853d;
}
@media t(mqSmall){
    .THIS .icon{
        height: 40px;
    }
    .THIS hr {
        width: 20px;
        margin: 21px 0;   
    }
    .THIS .slds-path__scroller{
        padding:0 60px;
    }
    .THIS .six-circles hr,.THIS .five-circles hr,.THIS .four-circles hr,.THIS .three-circles hr,.THIS .two-circles hr{
        top:-10px; 
    }
    .THIS .inactive-path-title,.THIS span.inactive-path-title.slds-path__title,.THIS span.is-complete-path.slds-path__title{
        display: none;
    }
    .THIS .outer-circle,.THIS .green-circle,.THIS .red-circle  {
        height: 10px;
        width: 10px;
    }
    .THIS .is-complete-path{
        display: none;
    }
    .THIS .slds-path__nav{
        /*margin: 0 10px;*/
    }
    
    .THIS .pathwidth {
        width: 100%;
    }
    .THIS .slds-path__item{
        width:12px;
    }
}



@media only screen and (min-width: 768px) and (max-width: 1023px){
    /*.THIS hr {
        width: 45px;
        margin: 32px 0;
    }
    .THIS .is-complete-path{
        display: none;
    }
    .THIS .inactive-path-title{
        display: none;
    }
    .THIS .is-not-current{
        display: none;
    }*/
    .THIS .icon{
        height: 40px;
    }
    .THIS hr {
        width: 20px;
        margin: 21px 0;   
    }
    .THIS .slds-path__scroller{
        padding:0 60px;
    }
    .THIS .six-circles hr,.THIS .five-circles hr,.THIS .four-circles hr,.THIS .three-circles hr,.THIS .two-circles hr{
        top:-10px; 
    }
    .THIS .inactive-path-title,.THIS span.inactive-path-title.slds-path__title,.THIS .span.is-complete-path.slds-path__title{
        display: none;
    }
    .THIS .outer-circle,.THIS .green-circle,.THIS .red-circle  {
        height: 10px;
        width: 10px;
    }
    .THIS .is-complete-path{
        display: none;
    }
    .THIS .slds-path__nav{
        /*margin: 0 10px;*/
    }
    
    .THIS .pathwidth {
        width: 100%;
    }
}
.THIS .inactive-path-title{
    text-overflow: ellipsis;   
    color: token(darkgrey);
    font-size: 13px;
}
.THIS .active-path-title{
    text-overflow: ellipsis;   
    color: token(LnGNameColor);
    font-size: 13px;
    font-weight:600;
}
.THIS .is-complete-path{
    text-overflow: ellipsis;   
    color: token(LnGNameColor);
    font-size: 13px;
    
}
@media t(mqLarge){
    .THIS hr {
        
        margin: 1.5rem 0;
        border-top: 1px solid #d6d7d9;
        width: 65px;
    }
    .THIS .mobile-tab-view{
        display:none;
    }
}
.THIS hover{
    cursor: pointer; 
}
.THIS img{
    cursor: pointer; 
}
.THIS span{
    cursor: pointer; 
}
.THIS .mandatory-fields{
    padding:0 0 20px;
}
@media t(mqSmall){
    .THIS .is-not-current,.THIS .green-circle, .THIS .red-circle{
        display:none;
    }
}