.THIS.container{
    margin:2rem;
    background-color:rgb(245, 245, 250);
}
.THIS .curpin{
    cursor:pointer;
}
.THIS .addList{
    position:absolute;
    z-index:1000;
    background-color:white;
    width: 300px;
    height: 200px;
    overflow: auto;
}
.THIS .inPosition{
    width:50%;
    
}
.THIS .selected{
    color:orange;
}
.THIS .bPosition{
    
}