.THIS {
}
.THIS .btnCenter{
    margin:0 auto;
}
.THIS .btnHeight{
    height:auto;
}
.THIS .slds-checkbox_faux{
    display:none;
}
.THIS .add-biz-btn{
    border-radius : 5px;
    background: t(bluebutton);
    color : t(LnGWhite);
    font-size:1rem;
    font-weight:bold;
}
.THIS .txtalign{
    text-align:left;
}
.THIS .required.field-size.slds-form-element label::before {
    content: '*';
    color: t(LnGErrorMsg);
    padding-right: 2px;
}
.THIS .required.field-size.slds-form-element label abbr.slds-required {
    display: none;
}