.THIS {
}
.THIS .btnCenter{
    margin:0 auto;
}
.THIS.alert-wrapper{
    display:flex;
    justify-content:center;
}
.THIS .slds-combobox_container input:focus{
    border-color:t(fieldclr);
}
.THIS .btnHeight{
    height:auto;
}
.THIS .slds-checkbox_faux{
    display:none;
}
.THIS .add-biz-btn.slds-button_neutral{
    height:auto;
    max-height:
}
.THIS .add-biz-btn{
    
    padding: 0.625rem 1.5rem;    
    font-size:1rem;    
    line-height:1.29;
}
.THIS .txtalign{
    text-align:left;
}
.THIS .required.field-size.slds-form-element label::before, .THIS .required.label-style::before {
    content: '*';
    color: t(LnGErrorMsg);
    padding-right: 2px;
}
.THIS .required.label-style::before{
    padding-right:0;
}
.THIS .required.field-size.slds-form-element label abbr.slds-required {
    display: none;
}
.THIS.add-biz-wrapper{
    margin: 2rem 7.5rem;
}
.THIS .add-biz-title{
    color:t(LnGFormTitleColor);
    font-size:1.25rem;
    font-weight:bold;
    margin-bottom:1.5rem;
}
.THIS .biz-fields-wrapper{
    padding:1.5rem 2rem;
    border:solid 1px t(grayBorder);
}
.THIS .biz-fields-wrapper .field-size div input{
     height: 42px;
    box-shadow: none;
}
.THIS .biz-fields-wrapper .slds-checkbox [type=checkbox]{
    position:relative;
}
.THIS .btn-wrapper{
    justify-content:flex-end;
    display:flex;
    width:100%;
    margin-top:1rem;
}
.THIS .label-style{
    font-size: 0.875rem;
    line-height: 1;    
    color: t(fieldclr);
    margin-bottom:0.25rem;
    font-weight:normal;
}
.THIS .field-size{
    width:100%;
}
.THIS .biz-fields-wrapper .slds-listbox__option .slds-media__body{
    font-weight:normal;
    color:t(fieldclr);
}
.THIS .field-size div input{
    font-weight:normal;
}
.THIS .course-text{
    margin-top:1rem;
}
.THIS .course-field .slds-form-element_stacked.slds-form-element{
    display:flex;
}
.THIS .course-field .slds-form-element__control.slds-grow{
    flex:none;
    width:auto;
    order:1;
}
.THIS .course-field .slds-checkbox__label{
    order:2;
    display:flex;
    align-items:center;
}
.THIS .course-field .slds-form-element__label{
    padding-left:0.5rem;
}
.THIS .course-field lightning-helptext{
    order:3;
    display: flex;
    align-items: center;
}
.THIS .course-field lightning-helptext .slds-form-element__icon{
    padding-top:0;
}
.THIS .course-field .slds-checkbox.slds-checkbox_standalone{
    display:flex;
	align-items:center;
}
.THIS .biz-structure .slds-combobox_container:after{
    border-top: 5px solid rgb(6, 28, 63);
    bottom: calc((1.75rem / 2) - 6px);
}
.THIS .biz-structure .slds-combobox_container:before{
    border-bottom: 5px solid rgb(6, 28, 63);
    top: calc((1.75rem / 2) - 6px);
}
.THIS .biz-structure .slds-combobox_container:after, .THIS .slds-combobox_container:before{
    position: absolute;
    content: '';
    display: block;
    right: .5rem;
    width: 0;
    height: 0;
    border-left: 3px solid transparent;
    border-right: 3px solid transparent;
    pointer-events: none;
    z-index:1000;
}
.THIS .biz-structure .slds-input__icon-group{
    display:none;
}

@media t(mqSmall){
    .THIS.add-biz-wrapper{
        margin: 1rem;
    }
    .THIS .biz-fields-wrapper .field-size .slds-form-element__control{
        width:100%;
    }
    .THIS .biz-fields-wrapper{
        padding:1rem;        
    }
    .THIS .add-biz-title{        
        margin-bottom:1rem;
    }
    .THIS .btn-wrapper{
        flex-direction:column;
    }
    .THIS .btn-wrapper .slds-button + .slds-button{
        margin:0.5rem 0 0;
    }
}
.THIS .UbiHelptext{
	position:relative;
	padding-left:2rem;
	padding-top:5rem;
}
.THIS .UbiHelptextContent {
	display:none;
	position:absolute;
	top:-4px;
	left:15px;
}
.THIS .UbiHelptext:hover + .UbiHelptextContent {
	display:block;
}
@media only screen and (min-width: 768px) and (max-width: 1023px){
    .THIS.add-biz-wrapper{
        margin:2rem 5.5rem;
    }
}
.THIS .disable {
    pointer-events: none;
}
.THIS .slds-checkbox .slds-checkbox_faux {
    display: block;
    width: 20px;
    height: 20px;
    margin-top: 5px;
    margin-right: 12px;
    border: 1px solid t(gray);
}
.THIS .biz-fields-wrapper .slds-checkbox [type=checkbox] {
    width: 20px;
    height: 20px;
    border: 0;
    opacity: 0;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    pointer-events: auto;
}