@font-face{
    font-family:'NotoSerif-Bold';
    src:url('/resource/Noto_Serif/Noto_Serif/NotoSerif-Bold.ttf');
}
@font-face{
    font-family:'NotoSerif-Regular';
    src:url('/resource/Noto_Serif/Noto_Serif/NotoSerif-Regular.ttf');
}
@font-face{
    font-family:'SourceSansPro-Regular';
    src:url('/resource/Source_Sans_Pro/Source_Sans_Pro/SourceSansPro-Regular.ttf');
}
@font-face{
    font-family:'SourceSansPro-SemiBold';
    src:url('/resource/Source_Sans_Pro/Source_Sans_Pro/SourceSansPro-SemiBold.ttf');
}
@font-face{
    font-family:'NotoSansTC-Regular';
    src:url('/resource/Noto_Sans_TC/Noto_Sans_TC/NotoSansTC-Regular.otf');
}
@font-face{
    font-family:'SourceSansPro-Italic';
    src:url('/resource/Source_Sans_Pro/Source_Sans_Pro/SourceSansPro-Italic.ttf');
}
.THIS .header{
    width:100%;
}
.THIS .main-content {
    min-height:calc(100vh - 86px);
}
.THIS .main-content .contentRegion{
    padding:0;
}