@font-face{
    font-family:'NotoSerif-Bold';
    src:url('/lightningwashington/resource/Noto_Serif/Noto_Serif/NotoSerif-Bold.ttf');
}
@font-face{
    font-family:'NotoSerif-Regular';
    src:url('/lightningwashington/resource/Noto_Serif/Noto_Serif/NotoSerif-Regular.ttf');
}
@font-face{
    font-family:'SourceSansPro-Regular';
    src:url('/lightningwashington/resource/Source_Sans_Pro/Source_Sans_Pro/SourceSansPro-Regular.ttf');
}
@font-face{
    font-family:'SourceSansPro-SemiBold';
    src:url('/lightningwashington/resource/Source_Sans_Pro/Source_Sans_Pro/SourceSansPro-SemiBold.ttf');
}
@font-face{
    font-family:'NotoSansTC-Regular'; 
    src:url('/lightningwashington/resource/Noto_Sans_TC/Noto_Sans_TC/NotoSansTC-Regular.otf');
}
@font-face{
    font-family:'SourceSansPro-Italic';
    src:url('/lightningwashington/resource/Source_Sans_Pro/Source_Sans_Pro/SourceSansPro-Italic.ttf');
}
@font-face{
    font-family:'Merriweather-Regular';
    src:url(/lightningwashington/resource/Merriweather/Merriweather-Regular.ttf);
}
@font-face{
    font-family:'PublicSans-Regular';
    src:url(/lightningwashington/resource/PublicSans/PublicSans-Regular.ttf);
}
.THIS *{
    font-family : t(publicSansfontfamily);
}
.THIS .header{
    width:100%;
}
.THIS .main-content {
    min-height:calc(100vh - 86px);
}
.THIS .main-content .contentRegion{
    padding:0;
}
/*common style for table */
.THIS .slds-table thead th{
    background-color:#eaeaea;
    padding: 1rem 2rem;
    font-size:t(tableFontSize);
}
.THIS .slds-table tbody td{
    padding: 1rem 2rem;
    font-size:t(tableFontSize);
}
/*common style for table */
/*common style for tabs */
.THIS .slds-tabs_default__item{    
    border : solid 1px t(actionPanelBG);
    border-top-left-radius : 4px; 
    border-top-right-radius : 4px; 
    height:65px;
    align-items:center;
    display:flex;
    justify-content:center;
    flex-grow:1;
    padding:0;
}
.THIS .slds-tabs_default__item.slds-tabs_default__overflow-button[style='visibility: hidden;']{
    display:none;
}
.THIS .slds-tabs_default__item::after, .THIS .slds-tabs--default__item::after{
    display:none;
}
.THIS .slds-table_bordered.slds-table, .THIS .slds-table--bordered.slds-table {
    border-color:#5b616b;  
    table-layout:fixed;
}
.THIS .table-scroll{
    max-height:100%;
    max-width:100%;
    overflow:auto;
}
.THIS .slds-tabs_default__item.slds-is-active{
    background:t(actionPanelBG);
    color:t(LnGWhite);
}
.THIS .slds-tabs_default__item.slds-is-active .slds-tabs_default__link{
    color:t(LnGWhite);
    text-decoration:none;
    font-weight:bold;
}
.THIS .slds-tabs_default__item .slds-tabs_default__link{    
    font-size: 1rem;    
    color: t(actionPanelBG);
    display:flex;
    align-items:center;
    justify-content:center;
    line-height:1.2;    
}
/*common style for tabs end*/
.THIS .slds-button.slds-button_brand{
    background:t(linksColor);
    font-weight:bold;
    color:t(LnGWhite);
    border-radius : 4px;
}
.THIS .slds-button.slds-button_neutral{
    font-weight:bold;
    border-radius:4px;
    color:t(buttonNeutral);
    border : solid 1px t(buttonNeutral);
}
.THIS .slds-max-medium-table_stacked td:before, .THIS .slds-max-medium-table_stacked th:before{
    text-transform:capitalize;
    color:t(LnGFormTitleColor);
    font-weight:bold;
}
@media t(mqSmall){
    .THIS .slds-table tbody td{
        padding:0.75rem;
        font-size:0.8125rem;
        color:t(LnGFormTitleColor);
        border:none;
    }
    .THIS .slds-table tbody tr{
        border:solid 1px t(grayBorder);
        margin-top:1rem;
        border-radius : 0.25rem;
    }
    .THIS .slds-tabs_default__item .slds-tabs_default__link{
        font-size:0.8125rem;
    }
}