@font-face{
    font-family:'NotoSerif-Bold';
    src:url('/lightningwashington/resource/Noto_Serif/Noto_Serif/NotoSerif-Bold.ttf');
}
@font-face{
    font-family:'NotoSerif-Regular';
    src:url('/lightningwashington/resource/Noto_Serif/Noto_Serif/NotoSerif-Regular.ttf');
}
@font-face{
    font-family:'SourceSansPro-Regular';
    src:url('/lightningwashington/resource/Source_Sans_Pro/Source_Sans_Pro/SourceSansPro-Regular.ttf');
}
@font-face{
    font-family:'SourceSansPro-SemiBold';
    src:url('/lightningwashington/resource/Source_Sans_Pro/Source_Sans_Pro/SourceSansPro-SemiBold.ttf');
}
@font-face{
    font-family:'NotoSansTC-Regular'; 
    src:url('/lightningwashington/resource/Noto_Sans_TC/Noto_Sans_TC/NotoSansTC-Regular.otf');
}
@font-face{
    font-family:'SourceSansPro-Italic';
    src:url('/lightningwashington/resource/Source_Sans_Pro/Source_Sans_Pro/SourceSansPro-Italic.ttf');
}
@font-face{
    font-family:'Merriweather-Regular';
    src:url(/lightningwashington/resource/Merriweather/Merriweather-Regular.ttf);
}
@font-face{
    font-family:'PublicSans-Regular';
    src:url(/lightningwashington/resource/PublicSans/PublicSans-Regular.ttf);
}
.THIS *{
    font-family : t(btnfontfamily);
}
.THIS .merriweather-font{
    font-family: t(merrifontfamily);
}
.THIS h1,.THIS h2,.THIS h3,.THIS h4,.THIS h5,.THIS h6{
    font-family: t(merrifontfamily);
}
.THIS h1{
    font-size:30px;
}
.THIS h2{
    font-size:20px;
}
.THIS .ie-header{
    width:100%;
    padding:1.5rem;	
	background-color:t(headerclr);
}
.THIS .header{
    width:100%;
}
.THIS .main-content {
    min-height:calc(100vh - 106px);
}
.THIS .main-content .contentRegion{
    padding:0;
}
.THIS.main-content.ie-content .footerWrapper{
    position:absolute;
    bottom:0px;
}
/*common style for table */
.THIS .slds-table thead th{
    background-color:#eaeaea;
    padding: 1rem 2rem;
    font-size:t(tableFontSize);
}
.THIS .slds-table tbody td{
    padding: 1rem 2rem;
    font-size:t(tableFontSize);
}
/*common style for table */
/*common style for tabs */
.THIS .slds-tabs_default__overflow-button .slds-button{
    color:t(actionPanelBG);
    font-size:1rem;
}
.THIS .slds-tabs_default__item{    
    border : solid 1px t(actionPanelBG);
    border-top-left-radius : 4px; 
    border-top-right-radius : 4px; 
    height:65px;
    align-items:center;
    display:flex;
    justify-content:center;
    flex-grow:1;
    padding:0;
}
.THIS .slds-tabs_default__item.slds-tabs_default__overflow-button[style='visibility: hidden;']{
    display:none;
}
.THIS .slds-tabs_default__item::after, .THIS .slds-tabs--default__item::after{
    display:none;
}
.THIS .slds-table_bordered.slds-table, .THIS .slds-table--bordered.slds-table {
    border-color:#5b616b;  
    table-layout:fixed;
}
.THIS .table-scroll{
    max-height:100%;
    max-width:100%;
    overflow:auto;
}
.THIS .slds-tabs_default__item.slds-is-active{
    background:t(actionPanelBG);
    color:t(LnGWhite);
}
.THIS .slds-tabs_default__item.slds-is-active .slds-tabs_default__link{
    color:t(LnGWhite);
    text-decoration:none;
    font-weight:bold;
}
.THIS .slds-tabs_default__item .slds-tabs_default__link{    
    font-size: 1rem;    
    color: t(actionPanelBG);
    display:flex;
    align-items:center;
    justify-content:center;
    line-height:1.2;    
}
/*common style for tabs end*/
.THIS select, .THIS input{
    border: 1px solid #5b616b;
    height:42px;
}
.THIS .slds-button.slds-button_brand{
    background:t(linksColor);
    font-weight:bold;
    color:t(LnGWhite);
    border-radius : 4px;
}
.THIS .slds-button.slds-button_neutral{
    font-weight:bold;
    border-radius:4px;
    color:t(buttonNeutral);
    border : solid 1px t(buttonNeutral);
}
.THIS .slds-max-medium-table_stacked td:before, .THIS .slds-max-medium-table_stacked th:before{
    text-transform:capitalize;
    color:t(LnGFormTitleColor);
    font-weight:bold;
}
.THIS .required{
    color:t(fieldclr);
}
.THIS .slds-input, .THIS .slds-select, .THIS .slds-text-area{
    border-radius : 0;
}
.THIS :focus{
	box-shadow:none;
	outline:none;
}
.THIS a.skip-content {
    left:-999px;
    position:absolute;
    top:auto;
    width:1px;
    height:1px;
    overflow:hidden;
    z-index:-999;
}
.THIS a.skip-content:focus, .THIS a.skip-content:active {
    color: #fff;
    background-color:#000;
    left: auto;
    top: auto;
    width: 30%;
    height: auto;
    overflow:auto;
    margin: 10px 35%;
    padding:5px;
    border-radius: 15px;
    border:4px solid yellow;
    text-align:center;
    font-size:1.2em;
    z-index:999;
}
.THIS a{
    color:t(linksColor);
}
.THIS a:focus{
    text-decoration:underline;
    color:t(actionPanelBG);
    font-weight:600;
}
.THIS .slds-input:focus, .THIS .slds-select:focus{
    outline: dotted 2px #aeb0b5;
    outline-offset: 2px;
}
.THIS input[type=number]::-webkit-inner-spin-button, .THIS input[type=number]::-webkit-outer-spin-button{
    display:none;
}
.THIS .slds-button{
    text-transform:capitalize;
}
@media t(mqSmall){
    .THIS .slds-table tbody td{
        padding:0.75rem;
        font-size:0.8125rem;
        color:t(LnGFormTitleColor);
        border:none;
    }
    .THIS .slds-table tbody tr{
        border:solid 1px t(grayBorder);
        margin-top:1rem;
        border-radius : 0.25rem;
    }
    .THIS .slds-tabs_default__item .slds-tabs_default__link{
        font-size:0.8125rem;
    }
    .THIS .slds-tabs_default__overflow-button .slds-button{
        color:t(actionPanelBG);
        font-size:0.8125rem;
    }
}
.THIS .slds-spinner_container {
    position:fixed;
}