.THIS {
}
.THIS .text-wrap{
    /*text-align:center; */
    /*padding: calc((100vh - 370px)/2);*/
    padding:1.5rem 7.5rem;
    font-size:1rem;
}
.THIS .slds-icon-text-warning{
    fill:#cd2026;
}
.THIS .layout{       
    text-decoration:underline;
}
.THIS .imgLayout{
    display:flex;
    width:800px;
    justify-content:space-between;
}
.THIS .img-style{
    width:40px;
}
.THIS .link-text{
    margin-top:0.5rem;
    font-size:1rem;
    
}
.THIS .header{
    margin-bottom:1.5rem;
}
.THIS .text-wrap.ie-error .alertWid{
    width:auto;
}
.THIS .imgLayout a{
    font-size:11px;
}
.THIS .link{    
    display:flex;
    flex-direction:column;
    align-items: center;
}
.THIS .dwnldImg{
    width:10px;
    height:10px;
}
.THIS .EerrorSentnce{
    font-size:13px;
    font-weight:bold;
    color:t(sentenceclr);
}
.THIS .EerrorHeading{
    font-size:20px;
    color:t(primary);
    
}
.THIS .Eunderline{
    padding-bottom: 20px;
    border-bottom:0.5px solid #d6d7d9;
    
}

.THIS .slds-icon-text-warning{
    fill:#cd2026;
}
.THIS .errorHeading div{
    font-size:18px;
    padding-bottom: 8px;
    border-bottom:0.5px solid #d6d7d9;
}
.THIS .errorHeading b{
    font-size:27px; 
}
.THIS .errorid{
    font-weight:bold;
}
.THIS .download{
    color:t(fieldclr); 
    font-size:1rem;
}
.THIS .underline{
    padding-bottom: 8px;
    border-bottom:0.5px solid #d6d7d9;
}