.THIS {
}
.THIS .text-wrap{    
    padding:1.5rem 7.5rem;
    font-size:1rem;
}
.THIS .slds-icon-text-warning{
    fill:#cd2026;
}
.THIS .telstyle{
    color:t(primary);
    text-decoration:underline;
    font-weight:bold;
    
}
.THIS .layout{
    padding-right:2rem;
    flex:1;
    text-decoration:underline;
}
.THIS .imgLayout{
    display:flex;
    
}
.THIS .img-style{
    width:40px;
}
.THIS .link-text{
    margin-top:0.5rem;
    font-size:1rem;
}
.THIS .header{
    margin-bottom:1.5rem;
}
.THIS .text-wrap.ie-error .alertWid{
    width:auto;
}
.THIS .imgLayout a{
    font-size:11px;
}
.THIS .link{
    margin-right:4px;
}
.THIS .dwnldImg{
    width:10px;
    height:10px;
}
.THIS .EerrorSentnce{
    font-size:13px;
    font-weight:bold;
    color:t(sentenceclr);
}
.THIS .EerrorHeading{
    font-size:20px;
    color:t(primary);
    
}
.THIS .Eunderline{
    padding-bottom: 20px;
    border-bottom:0.5px solid #d6d7d9;
    
}

.THIS .slds-icon-text-warning{
    fill:#cd2026;
}
.THIS .telstyle{
    color:t(primary);
    text-decoration:underline;
    font-weight:bold;
    
}
.THIS .errorHeading div{
    font-size:18px;
    padding-bottom: 8px;
    border-bottom:0.5px solid #d6d7d9;
}
.THIS .errorHeading b{
    font-size:27px; 
}
.THIS .errorid{
    font-weight:bold;
}
.THIS .download{
    color:t(fieldclr);
    font-weight:bold;
}
.THIS .underline{
    padding-bottom: 8px;
    border-bottom:0.5px solid #d6d7d9;
}