.THIS .field-item{
    padding: 0px 25px 25px 25px;           
}
.THIS .multi-field.remove-margin {
    margin-right: 0px;
}
.THIS .multi-field .slds-form-element__control{
    
    padding-left:0;
}
.THIS .ssn-question{
    display:flex;
    flex-direction:column;
}
.THIS .input-field-wrapper{
    display:flex;
    flex-direction:column;
}
.THIS .input-field-wrapper label{    
    font-size: 0.875rem;
    line-height: 1;
    font-weight: normal;
    color: #1b1c1a;
    margin-bottom:0.25rem;
}
.THIS .in-create .slds-form-element__label{
    padding-bottom:5px;
}
.THIS  .in-create .slds-form-element_horizontal .slds-form-element__control{
    width:100%;
}
.THIS .slds-combobox_container,.THIS .slds-combobox{
   
    width:100%;
}

.THIS .slds-form-element__static{
	font-size: 16px; 
}
.THIS .multi-field .slds-form-element_horizontal{
    width:50%;
}
.THIS .account-label{
    display:flex;
    align-items:center;
} 
.THIS .account-name.field-size{
    margin-bottom:0;
}
.THIS .slds-form-element__label{
	font-size: 14px;
    color:t(LnGFormGray);
    
}
.THIS .id-field.field-size{
    margin-bottom:0;
}
.THIS .id-field{
    display:flex;
	width:100%;    
}
.THIS .id-field-input{
    width:100%;
}
.THIS .account-name{
    display:flex;
    flex-direction:column;
    width:100%;
}
/*.THIS .input-multi-fields:nth-child(odd){
    margin-right:10%; 
} */  
.THIS .slds-input, .THIS .slds-select{    
    border-top: none;
    border-left: none;
    border-right: none;
    border-radius: unset;
    background:#f9f9f9;
    font-size:14px;
    padding-left:0;
    color:t(LnGFormTitleColor);
}
.THIS .field-inline div{
    display: inline;
}
.THIS .field-adjust{
    margin-right:10%;
}
.THIS .addedfield2{
    margin-right:10%;
}
.THIS .addedfield1{
    margin-right:0;
}
@media t(mqSmall){
    .THIS .field-inline div{
        display: inline;
    }
    /* .THIS label.slds-form-element__label {
        display: none;
    } */
}