.THIS {
}
.THIS .field-item{
    padding: 0px 25px 25px 25px;           
}

.THIS .slds-form-element__static{
	font-size: 16px; 
}
.THIS .slds-form-element__label{
	font-size: 14px;
    color:t(LnGFormGray);
    
}
.THIS .slds-input, .THIS .slds-select{    
    border-top: none;
    border-left: none;
    border-right: none;
    border-radius: unset;
    background:#f9f9f9;
    font-size:14px;
    padding-left:0;
    color:t(LnGFormTitleColor);
}
.THIS .field-inline div{
    display: inline;
}
@media t(mqSmall){
    .THIS .field-inline div{
    display: inline;
}
    
}